.containerApp {
    background: rgba(0, 0, 0, 0.7); /* Cor preta com 50% de opacidade */
    color: white; /* Cor do texto, por exemplo, branco */
}

label[for="liberado_filiais"] {
    text-align: left !important; /* Tente usar !important para forçar a aplicação do estilo */
}


.divider {
    border-bottom: 1px solid #ffffff; /* Adicione a cor e largura desejadas para a linha */
    margin-top: 10px;
  }

.btn-cadastro{
    background-color: #ef7814 !important;
    border-color: #ef7814 !important;

}

label{
    text-align: left !important;
}

.w-95{
    width: 95%;
}

.sortable{
    width:30%;
    padding:0px;
    margin-left:200px;
}

.agrupador_li_sortable{
    width: fit-content;
}

.item_li_sortable{
    margin-left:40px;
    width: fit-content;
    border-style:double;
    border-color:white;
}