.containerApp {
    background: rgba(0, 0, 0, 0.7); /* Cor preta com 50% de opacidade */
    color: white; /* Cor do texto, por exemplo, branco */
}

label[for="liberado_filiais"] {
    text-align: left !important; /* Tente usar !important para forçar a aplicação do estilo */
}

.divider {
    border-bottom: 1px solid #ffffff; /* Adicione a cor e largura desejadas para a linha */
    margin-top: 10px;
  }

button .btn-cadastro{
    background-color: var(--cor_empresa)!important;
    border-color: var(--cor_empresa)!important;
}

label{
    text-align: left !important;
}

.w-95{
    width: 95%;
}

.sortable{
    width:100%;
    padding-inline-start: 0px;
}

.agrupador_li_sortable{
    display:flex;
    justify-content:left;
    padding:5px 5px 5px 15px;
    border-color:white;
    margin-top:25px;
    background-color:var(--cor_empresa)!important;;
    font-size:1.2rem;
}

.item_li_sortable{
    border-style:groove;
    border-color:rgba(255, 255, 255, 0.3);
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    padding:1px 3px 1px 5rem;
    margin-bottom:2px;
    font-size:1.1rem;
}

.check-preenchido-element{
    display:flex;
    padding-left:2rem;
    border-style:groove;
    border-color:rgba(255, 255, 255, 0.3);
    padding:1px 3px 1px 5rem;
    margin-bottom:2px;
    font-size:1.1rem;
}

.finished-button-check{
    transition: all 0.3s ease;
}

.in-progress-button-check{
    transition: all 0.3s ease;
}

.pending-button-check{
    transition: all 0.3s ease;
}

.pending-button-check.selected{
    background-color:yellow;
}

.in-progress-button-check.selected{
    background-color:#B0F0F8;
}

.finished-button-check.selected{
    background-color:#BFF39D;
}