asgiref
blank
cairocffi
CairoSVG
cffi
cssselect2
defusedxml
Django
django-python3-ldap
et-xmlfile
html5lib
ldap3
mod-wsgi
mysqlclient
numpy
openpyxl
pandas
Pillow
pyasn1
pyasn1-modules
pycparser
pyldap
pyodbc
PyPDF2
Pyphen
python-dateutil
pytz
reportlab
send-email
simplejson
six
sqlparse
tinycss2
typing-extensions
WeasyPrint
webencodings
xhtml2pdf
xlrd
XlsxWriter
