asgiref==3.2.7
blank==0.1.0
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect2==0.3.0
decorator==5.1.1
defusedxml==0.6.0
Django==3.0.5
django-python3-ldap==0.11.3
html5lib==1.0.1
ldap3==2.7
managed==0.0.0.0.0.0a0.dev20201221
mysqlclient==1.4.6
numpy==1.21.6
pandas==1.3.5
Pillow==8.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyldap==2.4.45
pyodbc==4.0.30
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.2
pytz==2020.1
reportlab==3.5.42
send-email==201212
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.1
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
xhtml2pdf==0.2.4
xlrd==1.2.0
