{% load static %}

{% block link_static_css %}
  <link rel="stylesheet" href="{% static 'css/usuario_app/cadastro_usuarios.css' %}" />
{% endblock %}

<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100">
    <div class="mt-3 d-flex align-items-center justify-content-between div_Titulo">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-users" alt="Usuários"></i>
            <h1 class="titlePadraoMenu">Cadastro de Usuários</h1>
        </div>
        {% if obj_usuario_logado.cod_filial.cod_empresa.cod_empresa == 12 %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-branca.png' %}" >
        {% else %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-small-deep.png' %}" >
        {% endif %}
    </div>
    
	<div class="d-flex justify-content-between align-items-between div_Titulo_line">
        <hr class="hr_title">
    </div>

    <div class="containerApp">
        <form id="frm_cad_usu" name="frm_cad_usu"  method="POST"
              class="d-flex flex-column align-items-center justify-content-between cl_frm_topo_paginas">
            {% csrf_token %}

            <div class="d-flex w-100 justify-content-between align-items-center">
                <div class="d-flex flex-column align-items-start w-100">
                    <input type="hidden" name="hd_id_usu_editar" id="hd_id_usu_editar">
                    <label>Nome</label>
                    <input type="text" class="form-control"  name="txt_nome_usu" id="txt_nome_usu"
                        placeholder="Nome do Usuário" >
                </div>

                <div class="d-flex flex-column align-items-start w-100"
                     style="margin-left: 0.25rem; margin-right: 0.25rem;">
                    <label>Usuário</label>
                    <input type="text" class="form-control"  name="txt_login_usu" id="txt_login_usu"
                            placeholder="Login do Colaborador" >
                </div>

                <div class="d-flex flex-column align-items-start w-100" style="margin-left: 0.25rem; margin-right: 0.25rem;">
                    <label>E-mail</label>
                    <input type="text" class="form-control"  name="txt_email_usu" id="txt_email_usu"
                        placeholder="Email do Colaborador">
                </div>

                <div class="d-flex flex-column align-items-start w-100">
                    <label>Perfil</label>
                    <select name="cb_perfil_usu" id="cb_perfil_usu"
                        class="form-control selectpicker">
                    <option value="0" selected="selected">-- Selecione o perfil --</option>
                        <option class="text-capitalize " value="A">Administrador</option>
                        <option class="text-capitalize " value="C">Colaborador</option>
                    </select>
                </div>
            </div>

            <div class="d-flex w-100 justify-content-between align-items-center mb-2">
                <div class="d-flex flex-column w-75 align-items-start">
                    <label>Filial</label>
                    <select class="selectpicker form-control" id="cb_filial_usu" name="cb_filial_usu" data-live-search="true">
                        <option value="0" selected="selected">-- Selecione a filial --</option>
                        {% for f in lista_filiais %}
                            <option class="text-capitalize " value="{{ f.cod_filial }}">{{ f.desc_filial }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="d-flex flex-column alin-items-center">
                    <label for="chk_ativa_usu">Ativo?</label>
                    <input type="checkbox" checked="checked" class="checkbox" name="chk_ativa_usu"
                        id="chk_ativa_usu"/>
                </div>

                <div class="d-flex flex-column alin-items-center">
                    <label for="chk_ativa_corporativo">Corporativo?</label>
                    <input type="checkbox" checked="checked" class="checkbox" name="chk_ativa_corporativo"
                        id="chk_ativa_corporativo"/>
                </div>
            </div>


            <div class="d-flex w-100 justify-content-between align-items-start mb-4">
                <div class="d-flex flex-column align-items-between w-100">
                    &nbsp;&nbsp;
                </div>
                <div class="d-flex flex-column align-items-between w-100">
                    &nbsp;&nbsp;
                </div>
                <div class="d-flex flex-column align-items-between w-100">
                    &nbsp;&nbsp;

                </div>

                <div class="d-flex justify-content-end w-100">
                    <button type='button' class='btn btn-primary btn-rounded botaoPrincipal' id="btn_novo_usu"
                            name="btn_novo_usu">
                        <i class="fa-solid fa-eraser"></i>
                        Limpar
                    </button>
                    &nbsp;&nbsp;
                    <button type='button' class='btn btn-primary btn-rounded botaoPrincipal'id="btn_add_usu"
                            name="btn_add_usu">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>

            </div>

        </form>

        <div class="form-group  cl_div_tabela_principal_pagina w-100">
            <table id="tab_usuarios"  class="display wrap w-100 cl_tab_principal_pagina"><!-- -->
                <thead>
                    <tr>   
                        <th scope="col" align="left" style="color: grey">Ativo?</th>
                        <th scope="col" align="left" style="color: grey">Nome Usuário</th>
                        <th scope="col" align="left" style="color: grey">Filial</th>
                        <th scope="col" align="left" style="color: grey">Perfil</th>
                        <th scope="col" align="left" style="color: grey">Tipo Acesso</th>
                        <th scope="col" align="left" style="color: grey">Login</th>
                        <th scope="col" align="left" style="color: grey">Email</th>
                        <th scope="col" align="center" style="color: grey">Editar</th>
                        </tr>
                </thead>
                    <tbody>

                    </tbody> 
            </table>
        </div>
    </div>
</div>




<script defer src="{% static 'controllers/usuario_app/form_cad_usuario_controller.js' %}"
          type="text/javascript">
</script>