{% load static %}

<!-- Modal Replica Acessos -->
<div id="modal_replicacao_acesso_modulos" role="dialog" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header div_Titulo">
          <div class="d-flex align-items-center justify-content-center">
              <i class="fa-solid fa-code-compare" alt="Usuários"></i>
              <h1 class="titlePadraoMenu">Replica acesso aos módulos ativos</h1>
          </div>
          <div class="col-md-6" align="right">
            <button type="button" name="bnt_fecha_modal_replicacao_acesso_modulos"
                    id="bnt_fecha_modal_replicacao_acesso_modulos" class="btn_fecha_modais">
                  <i class="fa-solid fa-circle-xmark fa-2xl" ></i>
            </button>

          </div>

      </div>
      <div class="modal-body">
        <div class="text-center">
          <br/>
          <form id="frm_replica_acessos" name="frm_replica_acessos"  method="POST"
                class="d-flex justify-content-center align-items-center flex-column">
            {% csrf_token %}
            <select id="cb_usu_replicacao"
                    name="cb_usu_replicacao"
                    class="selectpicker form-control" multiple
                    data-live-search="true"
                    title="-- Selecione os Usuários --">
                  {% for usu in lista_usuarios_ativos %}
                      <option value="{{ usu.cod_usu }}" >{{ usu.nome_usu }}</option>
                  {% endfor %}
              </select>
            <br/><br/>
            <button type="button" name="btn_replica_acesso_modulos" id="btn_replica_acesso_modulos"
                    class="btn btn-primary btn-rounded botaoPrincipal">
                <i class="fa-solid fa-check" ></i>Replicar acessos
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>