{% load static %}

<!-- Modal Replica Acessos -->
<div id="modal_replicacao_acesso_modulos" role="dialog" class="modal">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 10px;">
      <div class="modal-header" style="background-color:#f26522;">
          <div class="" align="left" style="font-size:1.2rem;">
            <i class="fa-solid fa-code-compare" style="color: #FFF;" ></i>
            <span style="color:#FFF;">Replica acesso aos módulos ativos</span>
          </div>

          <div class="" align="right">
            <button type="button" name="bnt_fecha_modal_replicacao_acesso_modulos" id="bnt_fecha_modal_replicacao_acesso_modulos" data-dismiss="modal" aria-hidden="true" class="modalCopiaAcessos__fecharModal">
                  <i class="fa-solid fa-xmark" style="color: #FFF;"></i>
            </button>

          </div>

      </div>
      <div class="modal-body">
        <div class="text-center">
          <br/>
          <form id="frm_replica_acessos" name="frm_replica_acessos"  method="POST"
                class="d-flex justify-content-center align-items-center flex-column homeApp__loginForm">
            {% csrf_token %}
            <select id="cb_usu_replicacao"
                    name="cb_usu_replicacao"
                    class="selectpicker form-control" multiple
                    data-live-search="true"
                    title="-- Selecione os Usuários --">
                  {% for usu in lista_usuarios_ativos %}
                      <option value="{{ usu.cod_usu }}" >{{ usu.nome_usu }}</option>
                  {% endfor %}
              </select>
            <br/><br/>
            <button type="button" name="btn_replica_acesso_modulos" id="btn_replica_acesso_modulos" class="btn btn-primary btn-rounded liberaModulos__botao">
              Replicar acessos
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>