
/* PAINEL DE CONTROLE*/
        html, body {
        margin:0;
        padding:0;
        height:100%;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
      width: 5px !important;
      height: 5px !important;
    }
    ::-webkit-scrollbar-thumb {
      background: #ccc !important;
    }
    ::-webkit-scrollbar-track {
      background: transparent !important;
    }

    .pag{
        display: inline-flex;
        flex-direction: row;
    }

    .conteudo-desc p{
        font-weight: 700;
    }
    .caixa {
        position: relative;
        border: 1px solid rgb(0 0 0 / 19%);
        padding: 44px 170px 80px 50px;
        font-size: 0.9;
        box-shadow: 0 0 0.5rem 0.02px rgb(0 0 0 / 64%);
        font-size: 0.8rem;


        & .caixa3{
        padding: 50px 50px 80px 160px;
        }

    }

    .title{
        position: absolute;
        display: flex;
        align-items: center;
        padding-left: 1rem;
    }


    .sub-caixa-esq {
        position: absolute;
        padding: 0.5rem;
        border-radius: 0.3rem;
        top: 42px;
        left: 22px;
        height: 72px;
        right: 97px;
        background-color: rgb(0 0 0 / 12%);
    }

    .sub-caixa-dir {
        display: inline-block;
        position: absolute;
        padding: .5rem;
        border-radius: 0.3rem;
        top: 33px;
        left: 125px;
        right: 0;
        color: #fff;


        & p {
            font-size: 1.3rem;
        }


    }

    .prox-exe {
        border-right: 1px solid white;
        background-color: red;
    }

         /* Tabela  */

    .table{
        margin-top: -0.8rem;
        margin-left: 21px;
        border: 1px solid rgba(248, 241, 241, 0.685);
        height: 90%;
        font-size: 1rem !important;
        height:100%;
    }


    div .scroll{
        width:100%;
        height:67%;
        overflow-y: scroll;
        scrollbar-width: initial;
        overflow-x: hidden;
    }

    .col-ult, .col-prox, .col-processo{
        font-size: 1rem !important;

    }

    .col-processo {
        color: white;
        text-align: start;
    }

    .col-ult {
        color: #00FA9A;
    }

    tr{
      box-shadow: 0 0 0.5rem 0.02px rgb(0 0 0 / 64%);

    }



