

<!-- Modal adiciona pesos GUT -->
<div id="modal_add_item_gut" role="dialog" class="modal">
  <div class="modal-dialog" style="border-radius: 10px;">
    <div class="modal-content">
      <div class="modal-header"  style="background-color:#f26522;height: 40px;padding-right: 5px;padding-bottom: 35px;
            padding-top: 10px;font-size:10px;">
          <div class="row" style="margin-left: 0px;margin-right: 0px;width: 1320px;margin-top: 35px;" >
              <div class="col-md-6" align="left" >
                  <p id="p_head_modal_add_item_gut">

                  </p>
              </div>
              <div class="col-md-6" align="right">
                  <button type="button" name="btn_fecha_modal_add_item_gut"
                          id="btn_fecha_modal_add_item_gut" class="btn btn-sm btn-rounded btn_fecha_modal">
                    <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #FFFFFF;"></i>
                  </button>
                  </div>
          </div>
      </div>
      <div class="modal-body">
          <form id="frm_modal_add_item_gut" name="frm_modal_add_item_gut"  method="POST"
            class="d-flex flex-column align-items-center justify-content-between">
            {% csrf_token %}
              <div class="d-flex justify-content-between align-items-start w-100" >
                  <div class="d-flex flex-column w-100">
                      <label for="txt_desc_item_gut" style="color: #000000;">Descrição item
                        <input type="text" class="form-control" id="txt_desc_item_gut" name="txt_desc_item_gut">
                      </label>
                  </div>
              </div>

              <div class="d-flex justify-content-between align-items-start w-100 mb-2" >
                  <div class="d-flex flex-column w-100" style="margin-right: 0.25rem;">
                      <label for="txt_peso_item_gut" style="color: #000000;">Peso item
                        <input type="text" class="form-control" id="txt_peso_item_gut" name="txt_peso_item_gut">
                      </label>
                  </div>
                  <div class="d-flex flex-column w-100" style="margin-top: 1.6rem; margin-left: 0.25rem;">
                      <button type="button" name="btn_add_item_gut"
                              id="btn_add_item_gut"
                              class="btn btn-primary btn-rounded botaoPrincipal">
                        <i class="fa-solid fa-check" style="color: #FFFFFF;"></i>
                          Adicionar
                      </button>
                  </div>
              </div>
              <div id="div_tab_itens_gut" class="form-group  cl_div_tabela_principal_pagina w-100">
                  <div class="d-flex flex-column w-100">
                      <table id="tab_itens_gut"  class="display wrap w-100 cl_tab_principal_pagina">
                          <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Item</th>
                                <th scope="col">Peso</th>
                                <th scope="col">Ativo?</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for item in lista_itens_gut %}
                                <td>
                                    <i class="fa-solid fa-caret-right" style="color: #f46424;"></i>
                                </td>
                                <td>{{ item.desc }}</td>
                                <td>{{ item.peso }}</td>
                                <td>
                                    {% if item.ativo == 'S' %}
                                        'Sim'
                                    {% endif %}
                                    {% if item.ativo == 'N' %}
                                        'Não'
                                    {% endif %}
                                </td>
                            {% endfor %}
                          </tbody>
                      </table>
                  </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal adiciona pesos GUT -->
<div id="modal_pontua_item_gut" role="dialog" class="modal">
  <div class="modal-dialog" style="border-radius: 10px;">
    <div class="modal-content">
      <div class="modal-header"  style="background-color:#f26522;height: 40px;padding-right: 5px;padding-bottom: 35px;
            padding-top: 10px;font-size:10px;">
          <div class="row" style="margin-left: 0px;margin-right: 0px;width: 1320px;margin-top: 35px;" >
              <div class="col-md-6" align="left" >
                  <p id="p_head_modal_pontua_item_gut">

                  </p>
              </div>
              <div class="col-md-6" align="right">
                  <button type="button" name="btn_fecha_modal_pontua_item_gut"
                          id="btn_fecha_modal_pontua_item_gut" class="btn btn-sm btn-rounded btn_fecha_modal">
                    <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #FFFFFF;"></i>
                  </button>
                  </div>
          </div>
      </div>
      <div class="modal-body">
          <form id="frm_modal_pontua_item_gut" name="frm_modal_pontua_item_gut"  method="POST"
            class="d-flex flex-column align-items-center justify-content-between">
            {% csrf_token %}
              <div class="d-flex justify-content-between align-items-start w-100" >
                  <div class="d-flex flex-column w-100">
                      <input type="hidden" id="hd_tipo_item_gup_nota" name="hd_tipo_item_gup_nota">
                      <select class="selectpicker form-control" id="cb_cod_item_gut"
                              name="cb_cod_item_gut"
                              style="color: #999999; font-size: 20px; height: 54.65px"
                              data-live-search="true" title="Selecione a opção mais viável para pontuar">
                      </select>


                  </div>
              </div>

              <div class="d-flex justify-content-between align-items-start w-100 mb-2" >
                  <div class="d-flex flex-column w-100" style="margin-right: 0.25rem;">
                      &nbsp;
                  </div>
                  <div class="d-flex flex-column w-100" style="margin-top: 1.6rem; margin-left: 0.25rem;">
                      <button type="button" name="btn_confirma_peso_item_gut"
                              id="btn_confirma_peso_item_gut"
                              class="btn btn-primary btn-rounded botaoPrincipal">
                        <i class="fa-solid fa-check" style="color: #FFFFFF;"></i>
                          Adicionar
                      </button>
                  </div>
              </div>


          </form>
      </div>
    </div>
  </div>
</div>

{% include 'ti_comitec_app/modais_frm_lista_projetos.html' %}
