<div id="container-form-desligados">
    <div id="title-form-desligados">
        <div style="display:flex;">
            <img src="https://placehold.co/600x400" style="margin-right:1rem;">
            <b>Entrevista de desligamentos - CONLOG</b>
        </div>
        <span>Texto aqui, possivelmente sobre o preenchimento, utilidade, privacidade ou algo</span>
    </div>
    <div id="header-form-desligados">
        {% for secao in lista_secoes %}
            <option value="{{f.cod_filial}}">{{f.desc_filial}}</option>

            <b></b>
            <div class="questao-entrevista-desligamento">
                <span>Nome</span>
                <input type="text" id="input-nome">
            </div>
        {% endfor %}

        <div class="questao-entrevista-desligamento">
            <span>Qual era o setor que você atuava?</span>
            <select class="selectpicker form-control" id="input-setor-atuacao">
                <option value="1">RH/DP</option>
                <option value="2">FROTA</option>
                <option value="3">OPERAÇÕES</option>
                <option value="4">FINANCEIRO</option>
                <option value="5">CONTÁBEIS</option>
                <option value="6">PLANEJAMENTO E CONTROLE</option>
                <option value="7">TI</option>
                <option value="8">ADMINISTRATIVO CCO AC</option>
                <option value="9">SEGURANÇA</option>
                <option value="10">ARMAZÉM</option>
            </select>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Iniciativa do desligamento</span>
            <input type="radio" id="radio-empresa" name="iniciativa-deslig" value="Empresa">
            <label for="radio-empresa">Empresa</label><br>
            <input type="radio" id="radio-colaborador" name="iniciativa-deslig" value="Colaborador">
            <label for="radio-colaborador">Colaborador</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Qual o motivo do desligamento?</span>
            <input type="text" id="input-motivo-desligamento">
        </div>
    </div>
    <div id="percepcoes-gerais">
        <b>Percepções Gerais</b>
        <div class="questao-entrevista-desligamento">
            <b>Comunicação visual interna</b>
            <span>(Inteligencia Artificial Neiva, Grupo GG Comunica, Site intranet Conlog, Call de resultados e e-mail)</span>
            <input type="radio" id="radio-comunicacao-visual-interna-nota-4" name="input-comunicacao-visual-interna" value="4">
            <label for="radio-comunicacao-visual-interna-nota-4">Muito satisfeito</label><br>
            <input type="radio" id="radio-comunicacao-visual-interna-nota-3" name="input-comunicacao-visual-interna" value="3">
            <label for="radio-comunicacao-visual-interna-nota-3">Satisfeito</label><br>
            <input type="radio" id="radio-comunicacao-visual-interna-nota-2" name="input-comunicacao-visual-interna" value="2">
            <label for="radio-comunicacao-visual-interna-nota-2">Insatisfeito</label><br>
            <input type="radio" id="radio-comunicacao-visual-interna-nota-1" name="input-comunicacao-visual-interna" value="1">
            <label for="radio-comunicacao-visual-interna-nota-1">Muito insatisfeito</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <b>"Materiais e equipamentos de trabalho</b>
            <span>A empresa disponibilizou os equipamentos necessários para realização das suas tarefas"</span>
            <input type="radio" id="radio-materiais-equipamentos-nota-4" name="input-materiais-equipamentos" value="4">
            <label for="radio-materiais-equipamentos-nota-4">Muito satisfeito</label><br>
            <input type="radio" id="radio-materiais-equipamentos-nota-3" name="input-materiais-equipamentos" value="3">
            <label for="radio-materiais-equipamentos-nota-3">Satisfeito</label><br>
            <input type="radio" id="radio-materiais-equipamentos-nota-2" name="input-materiais-equipamentos" value="2">
            <label for="radio-materiais-equipamentos-nota-2">Insatisfeito</label><br>
            <input type="radio" id="radio-materiais-equipamentos-nota-1" name="input-materiais-equipamentos" value="1">
            <label for="radio-materiais-equipamentos-nota-1">Muito insatisfeito</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <b>Oportunidades de crescimento</b>
            <span>Quanto você se sentia atraido pelas oportunidades de crescimento na Conlog</span>
            <input type="radio" id="radio-oportunidades-crescimento-nota-4" name="input-oportunidades-crescimento" value="4">
            <label for="radio-oportunidades-crescimento-nota-4">Muito satisfeito</label><br>
            <input type="radio" id="radio-oportunidades-crescimento-nota-3" name="input-oportunidades-crescimento" value="3">
            <label for="radio-oportunidades-crescimento-nota-3">Satisfeito</label><br>
            <input type="radio" id="radio-oportunidades-crescimento-nota-2" name="input-oportunidades-crescimento" value="2">
            <label for="radio-oportunidades-crescimento-nota-2">Insatisfeito</label><br>
            <input type="radio" id="radio-oportunidades-crescimento-nota-1" name="input-oportunidades-crescimento" value="1">
            <label for="radio-oportunidades-crescimento-nota-1">Muito insatisfeito</label><br>
        </div>
    </div>
    <div id="lideranca-imediata">
        <b>Liderança imediata</b>
        <div class="questao-entrevista-desligamento">
            <span>Você se sentia confortável para pedir ajuda, seja ao seu líder ou outros membros da equipe?</span>
            <input type="radio" id="radio-solicitar-ajuda-nota-4" name="input-solicitar-ajuda" value="4">
            <label for="radio-solicitar-ajuda-nota-4">Sempre</label><br>
            <input type="radio" id="radio-solicitar-ajuda-nota-3" name="input-solicitar-ajuda" value="3">
            <label for="radio-solicitar-ajuda-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-solicitar-ajuda-nota-2" name="input-solicitar-ajuda" value="2">
            <label for="radio-solicitar-ajuda-nota-2">Raramente</label><br>
            <input type="radio" id="radio-solicitar-ajuda-nota-1" name="input-solicitar-ajuda" value="1">
            <label for="radio-solicitar-ajuda-nota-1">Nunca</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Você se sentia reconhecido pelo seu líder quando superava os seus resultados no trabalho?</span>
            <input type="radio" id="radio-reconhecido-lider-nota-4" name="input-reconhecido-lider" value="4">
            <label for="radio-reconhecido-lider-nota-4">Sempre</label><br>
            <input type="radio" id="radio-reconhecido-lider-nota-3" name="input-reconhecido-lider" value="3">
            <label for="radio-reconhecido-lider-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-reconhecido-lider-nota-2" name="input-reconhecido-lider" value="2">
            <label for="radio-reconhecido-lider-nota-2">Raramente</label><br>
            <input type="radio" id="radio-reconhecido-lider-nota-1" name="input-reconhecido-lider" value="1">
            <label for="radio-reconhecido-lider-nota-1">Nunca</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Com que frequencia você recebia feedback e informação sobre o seu desempenho no trabalho</span>
            <input type="radio" id="radio-frequencia-feedback-nota-4" name="input-frequencia-feedback" value="4">
            <label for="radio-frequencia-feedback-nota-4">Sempre</label><br>
            <input type="radio" id="radio-frequencia-feedback-nota-3" name="input-frequencia-feedback" value="3">
            <label for="radio-frequencia-feedback-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-frequencia-feedback-nota-2" name="input-frequencia-feedback" value="2">
            <label for="radio-frequencia-feedback-nota-2">Raramente</label><br>
            <input type="radio" id="radio-frequencia-feedback-nota-1" name="input-frequencia-feedback" value="1">
            <label for="radio-frequencia-feedback-nota-1">Nunca</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Você recebia feedbacks uteis sobre o seu desempenho no trabalho</span>
            <input type="radio" id="radio-feedback-util-nota-4" name="input-feedback-util" value="4">
            <label for="radio-feedback-util-nota-4">Sempre</label><br>
            <input type="radio" id="radio-feedback-util-nota-3" name="input-feedback-util" value="3">
            <label for="radio-feedback-util-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-feedback-util-nota-2" name="input-feedback-util" value="2">
            <label for="radio-feedback-util-nota-2">Raramente</label><br>
            <input type="radio" id="radio-feedback-util-nota-1" name="input-feedback-util" value="1">
            <label for="radio-feedback-util-nota-1">Nunca</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>
                Meu líder / minha líder ouvia ideias e opiniões, independente do meu gênero, raça, religião, origem,
                deficiência ou orientação sexual.
            </span>
            <input type="radio" id="radio-ideias-ouvidas-nota-4" name="input-ideias-ouvidas" value="4">
            <label for="radio-ideias-ouvidas-nota-4">Sempre</label><br>
            <input type="radio" id="radio-ideias-ouvidas-nota-3" name="input-ideias-ouvidas" value="3">
            <label for="radio-ideias-ouvidas-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-ideias-ouvidas-nota-2" name="input-ideias-ouvidas" value="2">
            <label for="radio-ideias-ouvidas-nota-2">Raramente</label><br>
            <input type="radio" id="radio-ideias-ouvidas-nota-1" name="input-ideias-ouvidas" value="1">
            <label for="radio-feedback-util-nota-1">Nunca</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Meu banco de horas era bem gerenciado, e as folgas comunicadas com antecedência</span>
            <input type="radio" id="radio-banco-horas-nota-4" name="input-banco-horas" value="4">
            <label for="radio-banco-horas-nota-4">Sempre</label><br>
            <input type="radio" id="radio-banco-horas-nota-3" name="input-banco-horas" value="3">
            <label for="radio-banco-horas-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-banco-horas-nota-2" name="input-banco-horas" value="2">
            <label for="radio-banco-horas-nota-2">Raramente</label><br>
            <input type="radio" id="radio-banco-horas-nota-1" name="input-banco-horas" value="1">
            <label for="radio-banco-horas-nota-1">Nunca</label><br>
        </div>
    </div>
    <div id="remuneracao-beneficios">
        <b>Remuneração e Benefícios</b>
        <div class="questao-entrevista-desligamento">
            <span>Você estava satisfeito com os beneficios que recebia aqui?</span>
            <input type="radio" id="radio-satisfacao-beneficios-nota-4" name="input-satisfacao-beneficios" value="4">
            <label for="radio-satisfacao-beneficios-nota-4">Muito satisfeito</label><br>
            <input type="radio" id="radio-satisfacao-beneficios-nota-3" name="input-satisfacao-beneficios" value="3">
            <label for="radio-satisfacao-beneficios-nota-3">Satisfeito</label><br>
            <input type="radio" id="radio-satisfacao-beneficios-nota-2" name="input-satisfacao-beneficios" value="2">
            <label for="radio-satisfacao-beneficios-nota-2">Insatisfeito</label><br>
            <input type="radio" id="radio-satisfacao-beneficios-nota-1" name="input-satisfacao-beneficios" value="1">
            <label for="radio-satisfacao-beneficios-nota-1">Muito insatisfeito</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Você estava satisfeito com a remuneração que recebia aqui?</span>
            <input type="radio" id="radio-satisfacao-salario-nota-4" name="input-satisfacao-salario" value="4">
            <label for="radio-satisfacao-salario-nota-4">Muito satisfeito</label><br>
            <input type="radio" id="radio-satisfacao-salario-nota-3" name="input-satisfacao-salario" value="3">
            <label for="radio-satisfacao-salario-nota-3">Satisfeito</label><br>
            <input type="radio" id="radio-satisfacao-salario-nota-2" name="input-satisfacao-salario" value="2">
            <label for="radio-satisfacao-salario-nota-2">Insatisfeito</label><br>
            <input type="radio" id="radio-satisfacao-salario-nota-1" name="input-satisfacao-salario" value="1">
            <label for="radio-satisfacao-salario-nota-1">Muito insatisfeito</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Você achava que o seu salário era justo?</span>
            <input type="radio" id="radio-salario-justo-sim" name="input-salario-justo" value="2">
            <label for="radio-salario-justo-sim">Sim</label><br>
            <input type="radio" id="radio-salario-justo-nao" name="input-salario-justo" value="1">
            <label for="radio-salario-justo-nao">Não</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>
                Minha carga horária de trabalho e minhas responsabilidades eram coerentes com a minha remuneração
                total (considere salário fixo + variável + benefícios)
            </span>
            <input type="radio" id="radio-responsabilidades-coerente-sim" name="input-responsabilidades-coerente" value="2">
            <label for="radio-responsabilidades-coerente-sim">Sim</label><br>
            <input type="radio" id="radio-responsabilidades-coerente-nao" name="input-responsabilidades-coerente" value="1">
            <label for="radio-responsabilidades-coerente-nao">Não</label><br>
        </div>
    </div>
    <div id="diversidade-inclusao">
        <b>Diversidade e inclusão</b>
        <div class="questao-entrevista-desligamento">
            <span>
                Você era tratado(a) igualmente e de forma justa, independente do seu gênero, raça, religião, origem,
                deficiência ou orientação sexual?
            </span>
            <input type="radio" id="radio-tratamento-justo-nota-4" name="input-tratamento-justo" value="4">
            <label for="radio-tratamento-justo-nota-4">Sempre</label><br>
            <input type="radio" id="radio-tratamento-justo-nota-3" name="input-tratamento-justo" value="3">
            <label for="radio-tratamento-justo-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-tratamento-justo-nota-2" name="input-tratamento-justo" value="2">
            <label for="radio-tratamento-justo-nota-2">Raramente</label><br>
            <input type="radio" id="radio-tratamento-justo-nota-1" name="input-tratamento-justo" value="1">
            <label for="radio-tratamento-justo-nota-1">Nunca</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Você sente que já sofreu algum tipo de discriminação nesta empresa?</span>
            <input type="radio" id="radio-discriminacao-proprio-sim" name="input-discriminacao-proprio" value="2">
            <label for="radio-discriminacao-proprio-sim">Sim</label><br>
            <input type="radio" id="radio-discriminacao-proprio-nao" name="input-discriminacao-proprio" value="1">
            <label for="radio-discriminacao-proprio-nao">Não</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Você tem algum/a colega ou conhecido que já sofreu algum tipo de preconceito ou discriminação no ambiente de trabalho?</span>
            <input type="radio" id="radio-discriminacao-colega-sim" name="input-discriminacao-colega" value="2">
            <label for="radio-discriminacao-colega-sim">Sim</label><br>
            <input type="radio" id="radio-discriminacao-colega-nao" name="input-discriminacao-colega" value="1">
            <label for="radio-discriminacao-colega-nao">Não</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Esta empresa adota boas práticas de ética e conduta?</span>
            <input type="radio" id="radio-praticas-etica-nota-4" name="input-praticas-etica" value="4">
            <label for="radio-praticas-etica-nota-4">Sempre</label><br>
            <input type="radio" id="radio-praticas-etica-nota-3" name="input-praticas-etica" value="3">
            <label for="radio-praticas-etica-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-praticas-etica-nota-2" name="input-praticas-etica" value="2">
            <label for="radio-praticas-etica-nota-2">Raramente</label><br>
            <input type="radio" id="radio-praticas-etica-nota-1" name="input-praticas-etica" value="1">
            <label for="radio-praticas-etica-nota-1">Nunca</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Você possui confiança no Canal de Compliance/denúncias contra currupções e práticas corporativas irregulares da CONLOG?</span>
            <input type="radio" id="radio-canal-denuncias-nota-4" name="input-canal-denuncias" value="4">
            <label for="radio-canal-denuncias-nota-4">Sempre</label><br>
            <input type="radio" id="radio-canal-denuncias-nota-3" name="input-canal-denuncias" value="3">
            <label for="radio-canal-denuncias-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-canal-denuncias-nota-2" name="input-canal-denuncias" value="2">
            <label for="radio-canal-denuncias-nota-2">Raramente</label><br>
            <input type="radio" id="radio-canal-denuncias-nota-1" name="input-canal-denuncias" value="1">
            <label for="radio-canal-denuncias-nota-1">Nunca</label><br>
        </div>
        <div class="questao-entrevista-desligamento">
            <span>Você se sentia à vontade para colocar a sua opinião em uma reunião, mesmo que ela seja diferente do que estão falando?</span>
            <input type="radio" id="radio-opiniao-reunioes-nota-4" name="input-opiniao-reunioes" value="4">
            <label for="radio-opiniao-reunioes-nota-4">Sempre</label><br>
            <input type="radio" id="radio-opiniao-reunioes-nota-3" name="input-opiniao-reunioes" value="3">
            <label for="radio-opiniao-reunioes-nota-3">Frequentemente</label><br>
            <input type="radio" id="radio-opiniao-reunioes-nota-2" name="input-opiniao-reunioes" value="2">
            <label for="radio-opiniao-reunioes-nota-2">Raramente</label><br>
            <input type="radio" id="radio-opiniao-reunioes-nota-1" name="input-opiniao-reunioes" value="1">
            <label for="radio-opiniao-reunioes-nota-1">Nunca</label><br>
        </div>
    </div>
    <div id="perguntas-abertas">
        <b>Perguntas abertas</b>
        <div class="questao-entrevista-desligamento">
            <span>Existe algo que você queira deixar registrado sobre a empresa ou sobre os motivos do desligamento?</span>
            <input type="text" id="input-registro-livre">
        </div>
        <div class="questao-entrevista-desligamento">
            <span>O que você mais gostava na empresa?</span>
            <input type="text" id="input-melhores-pontos">
        </div>
        <div class="questao-entrevista-desligamento">
            <span>O que você menos gostava na empresa?</span>
            <input type="text" id="input-piores-pontos">
        </div>
        <div class="questao-entrevista-desligamento">
            <span>O que lhe fez desvincular da Cia?</span>
            <input type="text" id="input-motivo-desvinculamento">
        </div>
    </div>
</div>