{% load static %}

{% block link_static_css %}
    <link rel="stylesheet" href="{% static 'css/toggle_switch.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cores.css' %}" />
    <link rel="stylesheet" href="{% static 'css/loader.css' %}" />
{% endblock %}


<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100">
    <div class="mt-3 d-flex align-items-start justify-content-between div_Titulo">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-calendar-check fa-2xl"style="color: #f46424;"></i>
            <h1 class=" titlePadraoMenu">Rel. Folha Pagamento</h1>
        </div>
        <img class="logo_cabecalho" src="{% static 'icons/logo-branca.png' %}" >
    </div>

    <div class="containerApp">
        <form id="frm_gera_rel_folha_pag" name="frm_gera_rel_folha_pag"
              method="POST"
              class="d-flex flex-column align-items-center justify-content-between cl_frm_topo_paginas">
            {% csrf_token %}

            <div class="d-flex justify-content-between align-items-between w-100">
                <hr class="hr_title">
            </div>

            <div class="d-flex justify-content-between align-items-between w-100 mb-3">
                <div class="d-flex flex-column w-100" style="padding-right: 0.25rem;margin-top: 0.85rem;">
                    <label for="cb_competencia_folha_pag">Competência</label>
                    <select class="selectpicker form-control" id="cb_competencia_folha_pag"
                            name="cb_competencia_folha_pag"
                            data-live-search="true"
                            title="Selecione o projeto">
                        <option value="0" selected>--- COMPETÊNCIA ---</option>
                        {% for p in lista_periodos_liberados %}
                        <option value="{{ p.cod_confirma_periodo_fechamento_folha }}">
                            {% if p.mes_competencia_periodo == 1 %}
                            Janeiro
                            {% elif p.mes_competencia_periodo == 2 %}
                            Fevereiro
                            {% elif p.mes_competencia_periodo == 3 %}
                            Março
                            {% elif p.mes_competencia_periodo == 4 %}
                            Abril
                            {% elif p.mes_competencia_periodo == 5 %}
                            Maio
                            {% elif p.mes_competencia_periodo == 6 %}
                            Junho
                            {% elif p.mes_competencia_periodo == 7 %}
                            Julho
                            {% elif p.mes_competencia_periodo == 8 %}
                            Agosto
                            {% elif p.mes_competencia_periodo == 9 %}
                            Setembro
                            {% elif p.mes_competencia_periodo == 10 %}
                            Outubro
                            {% elif p.mes_competencia_periodo == 11 %}
                            Novembro
                            {% elif p.mes_competencia_periodo == 12 %}
                            Dezembro
                            {% endif %}
                            /{{ p.ano_competencia_periodo }} </option>
                        {% endfor %}
                    </select>

                </div>
                <!--
                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;margin-top: 0.85rem;">
                    <div class="d-flex w-100">
                        <label for="cb_emp_folha_pag">
                            Empresa
                        </label>
                    </div>

                    <div class="d-flex flex-column w-100">
                        <select class="selectpicker form-control" id="cb_emp_folha_pag"
                                name="cb_emp_folha_pag"
                                data-live-search="true"
                                title="Selecione a empresa">
                            <option value="12">Conlog</option>
                            <option value="17">Deep</option>
                        </select>
                    </div>
                </div>
                -->
                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;">
                    <div class="d-flex w-100">
                        <label for="cb_proj_folha_pag">Projetos
                            <button type='button' id="btn_seleciona_todas_proj_folha_pag"
                                name="btn_seleciona_todas_proj_folha_pag"
                                class="btn btn-rounded btn-space" title="Todos os projetos" >
                                <i class="fa-regular fa-square-check" style="color: #f46424;"></i>
                            </button>
                            &nbsp;&nbsp;
                            <button type='button' id="btn_desmarcar_projetos_folha_pag"
                                name="btn_desmarcar_projetos_folha_pag"
                                class="btn btn-rounded btn-space" title="Limpar seleção">
                                <i class="fa-regular fa-square" style="color: #f46424;"></i>
                            </button>
                        </label>
                    </div>

                    <div class="d-flex flex-column w-100">
                        <select class="selectpicker form-control" id="cb_proj_folha_pag"
                                name="cb_proj_folha_pag"
                                multiple data-selected-text-format="count > 0"
                                data-live-search="true"
                                title="Selecione o projeto">
                            {% for proj in lista_projetos_pagina %}
                                <option value="{{ proj.handle_benner }}_{{ proj.cod_empresa }}">{{ proj.desc_proj_benner }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;margin-top: 2.5rem;">
                    <button type="button" name="btnPesqDadosFolhaPag"
                              id="btnPesqDadosFolhaPag"
                              class="btn btn-primary btn-rounded botaoPrincipal" >
                          <i class="fa-solid fa-magnifying-glass"></i>
                        Pesquisar
                    </button>
                </div>

            </div>


            <div class="d-flex justify-content-between align-items-between w-100 mb-4" >
                <div class="d-flex align-items-end w-100 cl_div_loader_gera_pag_2art_terc">
                    <div class="loader" id="loader_folha_pagamento">
                        <div class="loader-inner">
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;margin-top: 2rem;">
                    &nbsp;&nbsp;
                </div>
                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;margin-top: 2rem;">
                    &nbsp;&nbsp;
                </div>
                <div class="d-flex flex-column w-100">
                    &nbsp;&nbsp;
                </div>
            </div>
        </form>


        <div class="form-group  cl_div_tabela_principal_pagina w-100">
            <table id="tab_dados_folha_pagamento"  class="display wrap w-100 cl_tab_principal_pagina">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Matrícula</th>
                        <th scope="col">Colaborador</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Filial</th>
                        <th scope="col">Projeto</th>
                        <th scope="col">Conta Contábil</th>
                        <th scope="col">Cod. Evento</th>
                        <th scope="col">Evento</th>
                        <th scope="col">Proeventos</th>
                        <th scope="col">Horas e Min. Referência</th>
                        <th scope="col">Situação Atual</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>


    </div>
</div>



