{% load static %}

{% block link_static_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/seguranca_5s_app/seguranca_5s_app.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cores.css' %}" />
    <link rel="stylesheet" href="{% static 'css/toggle_switch.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/loader.css' %}"/>


{% endblock %}






<div style="position: absolute; top: 0cm; left: 0; width: 100%; height: 100%; margin-left: 2rem;"> 
    <iframe title="ProjetoCCO" width="100%" height="100%" src="https://app.powerbi.com/reportEmbed?reportId=fc6cf6bb-3994-4f86-88ee-9e1059c3298d&autoAuth=true&ctid=66dea08d-ee36-4085-9766-365645135fc8" frameborder="0" allowFullScreen="true"></iframe>
</div>























<script src="{% static 'controllers/cco_sinistro_app/form_cco_cad_sinistros_controller.js' %}"></script>
