{% load static %}

{% block link_static_css %}
    <link rel="stylesheet" href="{% static 'css/cores.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cco_multas_app/cco_multas_app.css' %}" />
{% endblock %}


<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100" style="margin-right: 0px; width:100%;">
   <div class="mt-3 d-flex align-items-end justify-content-between div_Titulo" style="padding-bottom:15px; margin-left:25px;">
       <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-truck-fast" style="font-size:50px; margin-left:0px; margin-right:15px; color:#cf6a15;"></i>
           <h1 class="titlePadraoMenu" style="margin-left:0px;">Cadastro de Multas</h1>
       </div>
       <img class="logo_cabecalho" src="{% static 'icons/logo-branca.png' %}" >
   </div>
   <div class="container-app col-md-12">
      <div class="form-group cl_div_tabela_principal_pagina" style="padding-top:0px;padding-left:0px;margin-left: 50px;margin-right: 25px;">
         <div class="header-table">
            <nav>
               <div class="nav nav-tabs" id="myTab" role="tablist">
                  <button class="nav-link active tabs-nav" id="a_tab_pesquisa_multas" data-bs-toggle="tab"
                     data-bs-target="#div_tab_pesq_multas" type="button" role="tab"
                     aria-controls="div_tab_pesq_multas"
                     aria-selected="false" style="border-radius:0px 10px 0 0; font-size:15px">
                     Pesquisa Multas
                     <i class="fa-solid fa-filter" style="color: #f46424;"></i>
                  </button>
                  <button class="nav-link tabs-nav" id="a_tab_cadastro_multas" data-bs-toggle="tab"
                     data-bs-target="#div_cad_multas" type="button" role="tab"
                     aria-controls="div_cad_multas"
                     aria-selected="false" style="border-radius:0px 10px 0 0; font-size:15px" >
                     Cadastro Multas
                    <i class="fa-solid fa-pen-to-square" style="color: #f46424"></i>
                  </button>
                  <button class="nav-link tabs-nav" id="a_tab_anexos" data-bs-toggle="tab"
                     data-bs-target="#div_anexos" type="button" role="tab"
                     aria-controls="div_anexos"
                     aria-selected="false" style="border-radius:0px 10px 0 0; font-size:15px" >
                     Anexo Documentos
                    <i class="fa-solid fa-pen-to-square" style="color: #f46424"></i>
                  </button>
               </div>
            </nav>
         </div>
         <div class="tab-content" style="border-radius:0 0 10px 10px; font-size:15px">
            <div class="tab-pane active" id="div_tab_pesq_multas" role="tabpanel" aria-labelledby="a_tab_pesquisa_multas" style="padding-left:5px;">
               <!-- Form pesquisa de Multas-->
               <div class="row align-items-start" id="frm_cco_pesq_sinistros" style="margin-top:15px">
                  <div class="form-group col-sm-3"  style="padding-right:0px">
                     <select class="selectpicker form-control" id="select_placa_multa"
                      name="select_placa_multa" style="margin-bottom:12px" data-live-search="true" title="Placa">
                        {% for placa in lista_placas %}
                        <option value="{{placa.placa_multa}}">
                           {{placa.placa_multa}}
                        {% endfor %}
                     </select>
                  </div>
                  <div class="form-group col-sm-2 d-flex justify-content-start" >
                     <button class="btn btn-primary btn-form" type="button" name="btn_pesq_placa" id="btn_pesq_placa">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Pesquisar
                     </button>
                  </div>
                  <div class="form-group col-sm-3" style="padding-right:0px">
                     <select class="form-select" id="select_status_multa" name="select_status_multa" style="margin-bottom:12px">
                        <option value="andamento">Em Andamento</option>
                        <option value="finalizado">Finalizado</option>
                     </select>
                  </div>
                  <div class="form-group col-sm-2 d-flex justify-content-start">
                     <button class="btn btn-primary btn-form" type="button" name="btn_pesquisa_status" id="btn_pesquisa_status">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Pesquisar
                     </button>
                  </div>
               </div>
               <div class="form-group col-md-12" style="padding-right:10px">
                  <input type="hidden" id="hidden_status_multa" name="hidden_status_multa">
                  <table id="tab_multas"  class="display wrap w-100">
                     <thead>
                        <tr>
                           <th scope="col">Placa</th>
                           <th scope="col">Nº Auto </th>
                           <th scope="col">Projeto</th>
                           <th scope="col">Condutor</th>
                           <th scope="col">Dt. recebimento Not. </th>
                           <th scope="col">Tipo de multa</th>
                           <th scope="col">Local de autuação </th>
                           <th scope="col">Dt. da Autuação</th>
                           <th scope="col">Status</th>
                           <th scope="col">Editar</th>
                           <th scope="col">Excluir</th>
                        </tr>
                     </thead>
                     <tbody>

                     </tbody>
                  </table>
               </div>
            </div>
            <div class="tab-pane" id="div_cad_multas" role="tabpanel" aria-labelledby="a_tab_cadastro_multas">
               <form id="form_cadastro_multas" name="form_cadastro_multas" method="POST" style="margin-left:10px; margin-right:10px;">
                  <div class="row">
                     <div class="form-group col-sm-4">
                        <label for="txt_placa">Placa</label>
                        <input type="text" class="form-control" id="txt_placa" name="txt_placa" required>
                     </div>
                     <div class="form-group col-sm-4">
                        <label for="input_nome_condutor">Nome Condutor</label>
                        <input type="text" class="form-control" id="input_nome_condutor">
                     </div>
                     <div class="form-group col-sm-4">
                        <label for="input_auto_infracao">Nº Auto de Infração</label>
                           <input type="text" class="form-control" id="input_auto_infracao" name="input_auto_infracao">
                     </div>
                     <div class="form-group col-sm-2">
                        <label for="input_codigo_infracao">Código Infração</label>
                           <input type="text" class="form-control" id="input_codigo_infracao" name="input_codigo_infracao">
                     </div>
                     <div class="form-group col-sm-2">
                        <label for="select_dt_cad_cco">Data Cadastro CCO</label>
                        <input type="date" class="form-control" id="select_dt_cad_cco">
                     </div>
                     <div class="form-group col-sm-4">
                        <label for="select_tipo_multa">Tipo de Multa</label>
                        <select class="selectpicker form-control" id="select_tipo_multa" name="select_tipo_multa" placeholder="Tipo de multa" required>
                           {% for tipo_multa in lista_tipo_multa %}
                              <option value="{{tipo_multa.cod_tipo_multa}}">
                                 {{tipo_multa.desc_multa}}
                              </option>
                           {% endfor %}
                        </select>
                     </div>
                     <div class="form-group col-sm-4">
                        <label for="input_local_autuacao">Local da Autuação</label>
                        <input type="text" class="form-control" id="input_local_autuacao" name="input_local_autuacao">
                     </div>
                     <div class="form-group col-sm-2">
                        <label for="input_proj" > Projeto </label>
                        <select class="selectpicker form-control" id="input_proj" name="input_proj" placeholder="Projeto" required>
                           {% for projeto in lista_projetos %}
                              <option value="{{projeto.cod_projeto}}" >
                                 {{projeto.desc_proj}}
                              </option>
                           {% endfor %}
                        </select>
                     </div>
                     <div class="form-group col-sm-2">
                        <label for="input_data_infracao">Data da Infração</label>
                        <input type="date" class="form-control" id="input_data_infracao" name="input_data_infracao">
                     </div>
                     <div class="form-group col-sm-2">
                        <label for="input_valor_infracao"> Valor da Infração </label>
                        <input type="number" class="form-control" id="input_valor_infracao" name="input_valor_infracao" placeholder="R$ 0.00">
                     </div>
                     <div class="form-group col-sm-2">
                        <label for="input_valor_pago_infracao"> Valor Pago</label>
                        <input type="number" class="form-control" id="input_valor_pago_infracao" name="input_valor_pago_infracao"  placeholder="R$ 0.00">
                     </div>
                     <div class="form-group col-sm-2">
                        <label for="select_data_receb_multa">Data Recebimento da Multa</label>
                        <input type="date" class="form-control" id="select_data_receb_multa">
                     </div>
                     <div class="form-group col-sm-2">
                        <label for="dt_pagamento_multa">Data Pagamento Multa</label>
                        <input type="date" class="form-control" id="dt_pagamento_multa" name="inputDatePag">
                     </div>
                     <div class="form-group col-sm-4">
                        <label for="select_status_multa">Status</label>
                        <select class="form-control" id="select_status_multa" name="select_status_multa" style="margin-bottom:12px">
                           <option value="andamento">Em Andamento</option>
                           <option value="finalizado">Finalizado</option>
                        </select>
                     </div>
                     <div class="row">
                        <div class="form-group col-sm-8">
                           <label for="txt_obs"></label>
                           <textarea class="form-control" id="txt_obs" rows="3" cols="33"  placeholder="Observações :"></textarea>
                        </div>
                        <div class="form-group col-sm-3 d-flex align-items-end">
                           <button class="btn btn-primary btn-form" type="button" id ="btn_cadastrar_multa" name="btn_cadastrar_multa" value="0">
                              Cadastrar Multa
                              <i class="fa-regular fa-bookmark"></i>
                           </button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
            <div class="tab-pane" id="div_anexos" role="tabpanel" aria-labelledby="a_tab_anexos">
               <form id="myForm" enctype="multipart/form-data" method="post">
                  <div class="row" style="margin-top:2rem">
                     <div class="form-group col-sm-4">
                        <label for="file_anexo">

                           Anexar Multa
                        <input type="file" name="file_anexo" id="file_anexo" class="containerApp" accept="application/pdf">
                           {% csrf_token %}
                        </label>
                     </div>
                     <div class="form-group col-sm-4">
                        <select class="form-select" id="select_anexo" name="select_anexo">
                           <option value="ntf">Notificação</option>
                           <option value="multa">Multa</option>
                        </select>
                     </div>
                     <div class="form group col-sm-4 d-flex align-items-start">
                        <button type="button" id="btn_anexa_pdf" name="btn_anexa_pdf" class="btn btn-primary btn-form" value="0">
                           <i class="fa-solid fa-paperclip"></i>
                           <span>Anexar</span>
                        </button>
                     </div>
                  </div>
               </form>
               <div class="form-group cl_div_tab_responsaveis_conta w-100">
                  <div class="col-md-12 w-100 h-100">
                     <table id="tab_anexos_conta"  class="display wrap w-100">
                        <thead>
                           <tr>
                              <th scope="col">Placa</th>
                              <th scope="col">Tipo documento</th>
                              <th scope="col">Visualizar</th>
                              <th scope="col">Excluir</th>
                           </tr>
                        </thead>
                        <tbody>

                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="d-flex justify-content-between align-items-between w-100">
                     <i class="fa-solid fa-print" style="color: #f46424;"></i>Visualizador Documento Anexado
               </div>
               <div class="d-flex justify-content-between align-items-between w-100">
                     <hr class="hr_title">
               </div>
               <div id="div_visualizacao_anexo_multa" class="d-flex justify-content-between align-items-between w-100 h-100 cl_div_visualizacao_anexo_conta">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="{% static 'controllers/cco_multas_app/cad_multas_controller.js' %}"></script>