/* Estilizando a barra de rolagem para Webkit */



.titlePadraoMenu{
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
}

.hr_title{
    width: 100%;
    margin-top: 0 !important;
    margin-bottom: 0.25rem;
    color: white !important;
    border-top: 1px solid white !important;
    background-color:var(--cor_bg_cinza_escuro) !important;
}

.logo_cabecalho{
    width: 2.3rem;
    
}

.div_Titulo{
    width: 95%;
    background-color:var(--cor_bg_cinza_escuro_cabecalho) !important;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: 0.7rem;
    margin-bottom: 0px !important;
}

.div_Titulo_line{
    width: 95%;
    height: 5px !important;
    background-color:var(--cor_bg_cinza_escuro_cabecalho) !important;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: 0.25rem;
    margin-bottom: 0px !important;
    box-sizing: border-box;
}

.containerApp{
    width: 95%;

}

.botaoPrincipal{
    font-size: 0.8rem !important;
    border-color: var(--cor_empresa) !important;
    background-color: var(--cor_empresa) !important;

    i{
        color: #fff !important;
    }
}

.botaoPrincipal:hover{
    color: var(--cor_branco) !important;
    border-color: var(--cor_empresa_hover) !important;
    background-color: var(--cor_empresa_hover) !important;
}
.botaoPrincipal:active{
    color: var(--cor_branco) !important;
    border-color: var(--cor_empresa_active) !important;
    background-color: var(--cor_empresa_active) !important;
}

.modal-body{
    background-color: var(--cor_bg_modais_body) !important;
}

.cl_frm_topo_paginas{
    /* height: 45px !important; */
    padding-bottom: 0.5rem;
    position:relative;
    z-index:1000;
}


.cl_div_tabela_principal_pagina{
    width: 95%;
    height: 100%;
    font-size:10px;
    background-color: var(--cor_bg_cinza_escuro) !important;
    padding-left:0.5rem;
    padding-right:0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;

}

.cl_tab_principal_pagina{
    background-color: var(--cor_bg_cinza_escuro);
    color: white;
    font-size: 0.77rem;
    padding:0.5rem;
    margin-right: 0rem !important;
    /*height: 70%;
    width: 95%;*/
  }

 .cl_div_abas_paginas{
    font-size:12px;
    background-color: var(--cor_bg_cinza_escuro) !important;
    border-radius:0rem 0rem 0.5rem 0.5rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    opacity: 1;
}


.cl_div_loader{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


modal {
    text-align: center;
}
@media screen and (min-width: 0) {
.modal:before {
    display: inline-block;
    vertical-align: top;
    content: " ";
    height: 100%;
}
}
.modal-dialog {
    width: 100% !important;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}


input[type=file] {
    width: 100%;
    max-width: 100%;
    color: #444;
    padding: 4px;
    background: #fff;
    border-radius: 0.5rem;
    border: 1px solid #555;
    height: 37.6px !important;
    font-size: 1rem;
  }

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--cor_empresa);
    padding: 0.2rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }

input[type=file]::file-selector-button:hover {
  background: var(--cor_empresa_hover);
}


.label_comp_forms {
    color: #000000;
    padding-right: 0.25rem;
}


label {
    font-size: 12px;
    color: #FFF;
}

table, tr, td, .dataTables_info, .dataTables_filter{
    white-space: nowrap;
    font-size: 0.77rem;
    color: white;
}



table{
    white-space: nowrap;
}

.dataTables_info{
    font-size: 0.77rem;
    color: white;
    font-weight: bold;
}

.dataTables_wrapper{
    margin-top: 2rem !important;
    font-size: 0.77rem;
    color: white;
}

.dataTables_wrapper .dataTables_filter{
    color: white;
}

.dataTables_wrapper .dataTables_filter input {
    color: white;
}

.dt-search {
    display: flex;
    justify-content: start!important;
    align-items: start!important;
    color: white !important;
}

.dt-info {
    color: white !important;
}



.dt-buttons{
    display: flex;
    justify-content: end!important;
    align-items: end!important;
}

.cl_tab_modais{
    color: black;
    font-size: 12px;
 }

::-webkit-scrollbar-thumb {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}


.nav-link {
    color: var(--cor_empresa) !important;
    --bs-nav-link-hover-color: #ffffff !important;
}


.form-check-input:checked {
    background-color: var(--cor_empresa) !important;
    border-color: var(--cor_empresa) !important;
}


i{
    color: var(--cor_empresa)!important;
}


button i {
    color: #FFFFFF !important;
}

.accordion-button i {
    color: var(--cor_empresa) !important;
}

.nav-link i{
    color: var(--cor_empresa) !important;
}

.btn-space i{
    color: var(--cor_empresa) !important;
}
/*
.bg_header_modais {
    background-color: var(--cor_empresa) !important;
}
*/

.modal-header{
    background-color: #363636 !important;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    padding-top: 0.7rem;
    margin-bottom: 0px !important;
}
}

.modal-content {
    border-radius: 10px;
}

.modal-body {
    background-color: rgba(33, 37, 41, 0.3) !important;
}

.btn_fecha_modais {
    width: 0px;
    margin-right: 2rem;
    border: none;
}

.btn_fecha_modais:hover {
    border: none;
    i {
        color: var(--cor_empresa) !important;
    }
}

.btn_fecha_modal_detalhes_contas_comp {
    border: none;
    width: 0px;
    position: absolute;
    margin-top: -1.0025rem;
    margin-left: -0.04rem;
}

.btn_fecha_modal_detalhes_contas_comp:hover {
    border: none;
    i {
        color: var(--cor_empresa) !important;
    }
}



.btn_fecha_modais:visited {
    border: none;

}

table.dataTable tbody tr > .dtfc-fixed-start, table.dataTable tbody tr > .dtfc-fixed-end {
    color: #363636 !important;
    font-weight: 400 !important;
}


table.dataTable thead tr th > .dt-column-title {
    font-weight: 600 !important;
}