{% load static %}

{% block link_static_css %}
    <link rel="stylesheet" href="{% static 'css/ti_painel_processos_automaticos_app/painel_de_controle.css' %}" />
{% endblock %}


<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100">
    <div class="mt-3 d-flex align-items-start justify-content-between div_Titulo">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-users" alt="Usuários"></i>
            <h1 class="titlePadraoMenu">Torre de Controle - Automatizações(Última atualização : {{ dt_ultima_atualizacao }})</h1>
        </div>
        {% if obj_usuario_logado.cod_filial.cod_empresa.cod_empresa == 12 %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-branca.png' %}" >
        {% else %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-small-deep.png' %}" >
        {% endif %}

    </div>




    <div class="containerApp">
        <div class="form-group  cl_div_tabela_principal_pagina w-100">
            <!-- Conteúdo -->
             <div class="d-flex justify-content-between align-items-between w-100 h-100">
                 <div class="d-flex flex-column align-items-center w-100 ">
                     {% for col in lista_col %}
                        <div class="d-flex justify-content-between align-items-center w-100">
                            {% for proc_1 in lista_dic_proc_pri_1 %}
                                {% if proc_1.col == col %}
                                    <div class="d-flex w-100  flex-column flex-grow-3">
                                         <div class="conteudo-desc col">
                                             <div class="title"
                                                  style="font-size: 0.7rem !important; padding-top: 1rem;">
                                                <p>{{ proc_1.nome_proc }} </p>
                                             </div>
                                             <div class="caixa" style="margin: 2.5px;">
                                                 <div class="sub-caixa-esq" style="color: {{ proc_1.cor_status_ult_exec }} !important;">
                                                    <p class="ult-exe" style="margin-bottom: 0.5rem !important;
    font-size: 12px;">ULTIMA EXE. </p> <hr style="margin: 0.5rem 0;"/>
                                                    <p style="">{{ proc_1.data_ult_exec }}</p>
                                                 </div>
                                                 <div class="sub-caixa-dir" style="color: {{ proc_1.cor_status_prox_exec }} !important;">
                                                   <span>PRÓX.</span>
                                                   <p style="font-size: 0.8rem; margin: 5px;">{{ proc_1.data_prox_exec }}</p>
                                                   <p> {{ proc_1.hora_prox_exec }} </p>
                                                 </div>
                                             </div>
                                         </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                     {% endfor %}
                 </div>



                <div class="d-flex flex-column align-items-center w-100 scroll" style="position: sticky;right: 4px;">
                    <table class="table " style="background-color: rgb(0 0 0 / 12%);">
                        <br/>
                        <thead style="position: sticky; top: 0; z-index: 2;
                        background: #2a2b2d;box-shadow: 0 0 0.1rem 2px rgb(235 248 241 / 46%);">
                            <tr style="font-weight: 400; font-size: 1.25rem;box-shadow: 0 0 0.1rem 2px rgba(235, 248, 241, 0.532) ">
                                <th>PROCESSO</th>
                                <th style="box-shadow: 0 0 0.5rem 0.1px rgba(235, 248, 241, 0.532);">ULTIMA EXE.</th>
                                <th >PRÓXIMA EXE.</th>
                            </tr>
                        </thead
                        <tbody>
                            {% for proc_0 in lista_dic_proc_pri_0 %}
                                <tr>
                                    <td class="col-processo" style="font-weight: 500;">{{ proc_0.nome_proc }}</td>
                                    <td class="col-ult"
                                    style="box-shadow: 0 0 0.5rem 0.02px rgb(0 0 0 / 64%);
                                    color: {{ proc_0.cor_status_ult_exec }};font-weight: 500;">{{ proc_0.data_ult_exec }}</td>
                                    <td class="col-prox" style="
                                    color: {{ proc_0.cor_status_prox_exec }} !important;font-weight: 500;">{{ proc_0.data_prox_exec }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>