{% load static %}

{% block link_static_css %}
  <link rel="stylesheet" href="{% static 'css/cores.css' %}" />
  <link rel="stylesheet" href="{% static 'css/toggle_switch.css' %}" />
  <link rel="stylesheet" href="{% static 'css/loader.css' %}" />
{% endblock %}

<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100">
    <div class="mt-3 d-flex align-items-start justify-content-between div_Titulo">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-file-arrow-down fa-2xl" style="color: #f46424;"></i>
            <h1 class=" titlePadraoMenu">Importa Planilhas Remuneração</h1>
        </div>
        <img class="logo_cabecalho" src="{% static 'icons/logo-branca.png' %}" >
    </div>
	<div class="d-flex justify-content-between align-items-between div_Titulo_line">
		<hr class="hr_title">
	</div>

    <div class="containerApp">
        <form id="frm_improta_plan_remunerado" name="frm_improta_plan_remunerado"
              method="POST" enctype="multipart/form-data"
              class="d-flex flex-column align-items-center justify-content-between cl_frm_topo_paginas">
            {% csrf_token %}

            <div class="d-flex mt-3 justify-content-between align-items-between w-100 mb-3">
                <div class="d-flex flex-column w-100" style="padding-right: 0.25rem;">
                    <label>Tipo de planilha</label>
                    <select class="selectpicker form-control" id="sl_arquivo_remunerado"
                            name="sl_arquivo_remunerado"
                            data-live-search="true"
                            title="Selecione o tipo do layout do arquivo que deseja importar">
                        <option value="QLP_ROTA_ADM_EQUIPE">QLP ROTA ADM E EQUIPE</option>
                        <option value="QLP_ROTA_NOTURNA">QLP ROTA NOTURNA</option>
                        <option value="QLP_EQUIPE_VAN">QLP VAN EQUIPE</option>
                        <option value="QLP_VAN_NOTURNA">QLP VAN NOTURNA</option>
                        <option value="QLP_AS_ADM_ENTREGA">QLP AS ADM E EQUIPE</option>
                        <option value="QLP_AS_NOTURNA">QLP AS NOTURNA</option>
                        <option value="QLP_ARMAZEM_ADM_ENTREGA">QLP ARMAZEM ADM E EQUIPE</option>
                        <option value="QLP_EMPURRADA_ADM_ENTREGA">QLP EMPURRADA ADM E EQUIPE</option>
                        <option value="QLP_INSUMOS_ADM_ENTREGA">QLP INSUMOS ADM E EQUIPE</option>
                    </select>
                </div>

                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;">
                    &nbsp;&nbsp;
                </div>
                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;">
                    &nbsp;&nbsp;
                </div>

            </div>

            <div class="d-flex justify-content-between align-items-between w-100">
                <div class="d-flex flex-column w-100">
                    <input type="file" name="fl_arquivo_remunerado" id="fl_arquivo_remunerado"
                           class="containerApp"
                           placeholder='Selecione um arquivo válido, conforme tipo selecionado ...'
                           accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                </div>
            </div>



            <div class="d-flex justify-content-between align-items-between w-100 mb-3" >
                <div class="d-flex flex-column w-100 cl_div_loader">
                    <div class="loader" id="loader_frm_imp_plan_freightech">
                        <div class="loader-inner">
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column w-100">
                    &nbsp;&nbsp;
                </div>
                <div class="d-flex flex-column w-100">
                    &nbsp;&nbsp;
                </div>

            </div>

        </form>
        <div id="div_conteudo_plan_remunerado_importado" class="form-group  cl_div_tabela_principal_pagina w-100">
            <form id="frm_pesq_qlp_freigh" name="frm_pesq_qlp_freigh"
                  class="d-flex mt-3 flex-column align-items-center justify-content-between">
                {% csrf_token %}

                <div class="d-flex align-items-center justify-content-start text-white w-100 mb-3">
                    <div class="d-flex align-items-start justify-content-between">
                        <h5>
                            <i class="fa-solid fa-code-compare" style="color: #f46424;"></i>
                            Comparação Planilhas Remuneração por Período
                        </h5>
                    </div>
                    <div class="mt-3 d-flex align-items-start justify-content-between">
                        &nbsp;
                    </div>
                    <div class="mt-3 d-flex align-items-start justify-content-between">
                        &nbsp;
                    </div>

                </div>

                <div class="d-flex justify-content-between align-items-between w-100 mb-6" >
                    <div class="d-flex flex-column w-100"
                         style="margin-left: 0.25rem;margin-right: 0.25rem;">
                        <label for="sl_unidade_pesq_qlp_freigh">Unidade</label>
                        <select class="selectpicker form-control" id="sl_unidade_pesq_qlp_freigh"
                                name="sl_unidade_qlp_adm_freigh"
                                title="Unidade"
                                data-live-search="true">
                            <option value="18_CDD CAMBORIU">CDD CAMBORIU</option>
                            <option value="22_CDD CUIABA">CDD CUIABA</option>
                            <option value="9_CDD FLORIANOPOLIS">CDD FLORIANOPOLIS</option>
                            <option value="12_CDD GUARULHOS">CDD GUARULHOS</option>
                            <option value="32_CDD PELOTAS">CDD PELOTAS</option>
                            <option value="36_CDD RIO DE JANEIRO">CDD RIO DE JANEIRO</option>
                            <option value="17_MACACU">MACACU</option>
                            <option value="UDC GUARULHOS">UDC GUARULHOS</option>
                        </select>
                    </div>
                    <div class="d-flex flex-column w-100"
                         style="margin-left: 0.25rem;margin-right: 0.25rem;">
                        <label for="dt_comp_pesq_qlp_freigh_1">Data 1</label>
                        <input type="month" class="form-control" id="dt_comp_pesq_qlp_freigh_1" required>
                    </div>
                    <div class="d-flex flex-column w-100"
                         style="margin-left: 0.25rem;margin-right: 0.25rem;">
                        <label for="dt_quinz_pesq_qlp_freigh_1">Quinzena</label>
                        <select class="selectpicker form-control" id="dt_quinz_pesq_qlp_freigh_1"
                                name="dt_quinz_pesq_qlp_freigh_1"
                                title="Quinzena">
                            <option value="1">Quinz. 1</option>
                            <option value="2">Quinz. 2</option>
                        </select>
                    </div>
                    <div class="d-flex flex-column w-100"
                         style="margin-left: 0.25rem;margin-right: 0.25rem;">
                        <label for="dt_comp_pesq_qlp_freigh_2">Data 2</label>
                        <input type="month" class="form-control" id="dt_comp_pesq_qlp_freigh_2" required>
                    </div>
                    <div class="d-flex flex-column w-100"
                         style="margin-left: 0.25rem;margin-right: 0.25rem;">
                        <label for="dt_quinz_pesq_qlp_freigh_2">Quinzena</label>
                        <select class="selectpicker form-control" id="dt_quinz_pesq_qlp_freigh_2"
                                name="dt_quinz_qlp_adm_freigh_2"
                                title="Quinzena">
                            <option value="1">Quinz. 1</option>
                            <option value="2">Quinz. 2</option>
                        </select>
                    </div>
                    <div class="d-flex flex-column w-100" style="margin-top: 1rem;margin-left: 0.25rem;">
                        <button type='button' id="btn_aplicar_pesq_qlp_freigh"
                            name="btn_aplicar_pesq_qlp_freigh"
                            class="btn btn-primary btn-rounded botaoPrincipal">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            Aplicar
                        </button>
                    </div>
                </div>
            </form>
            <br>
            <div class="col-md-12 w-100 h-100">
                <nav>
                    <div class="nav nav-tabs" id="myTab" role="tablist">
                        <button class="nav-link active" id="a_tab_param_plan_rem" data-bs-toggle="tab"
                                data-bs-target="#div_tab_param_plan_rem" type="button" role="tab"
                                aria-controls="div_tab_param_plan_rem" aria-selected="true">
                            <i class="fa-solid fa-user-graduate" style="color: #f46424;"></i>
                            QLP ADM
                        </button>
                        <button class="nav-link" id="a_tab_cargos_rem_senior" data-bs-toggle="tab"
                                data-bs-target="#div_tab_cargos_rem_senior" type="button" role="tab"
                                aria-controls="div_tab_cargos_rem_senior" aria-selected="false">
                            <i class="fa-solid fa-file-signature" style="color: #f46424;"></i>
                            Cargos Remunerado x Senior
                        </button>
                    </div>
                </nav>


                <div class="tab-content" style="border-radius:0 0 10px 10px;">
                    <div class="tab-pane active" id="div_tab_param_plan_rem" name="div_tab_param_plan_rem"
                         role="tabpanel"
                         aria-labelledby="a_tab_param_plan_rem">

                        <!-- START QLP ADM -->
                        <div id="div_tab_qlp_adm_freigh" class="d-flex justify-content-between align-items-between w-100">
                            <div class="d-flex flex-column w-100">
                                <table id="tab_qlp_adm_feigh"  class="display wrap w-100 cl_tab_principal_pagina">
                                <thead>
                                    <tr>
                                        <th scope="col">Vigência</th>
                                        <th scope="col">Quinzena</th>
                                        <th scope="col">Grupo</th>
                                        <th scope="col">Cargo</th>
                                        <th scope="col">Qtd.</th>
                                        <th scope="col">Qtd. Encargos</th>
                                        <th scope="col">R$ Encargos</th>
                                        <th scope="col">Qtd. Ordenados</th>
                                        <th scope="col">R$ Ordenados</th>
                                        <th scope="col">Qtd. Frota Leve</th>
                                        <th scope="col">R$ Frota Leve</th>
                                        <th scope="col">Qtd. Benefícios</th>
                                        <th scope="col">R$ Benefícios</th>
                                        <th scope="col">Qtd. Telefonia</th>
                                        <th scope="col">R$ Telefonia</th>
                                        <th scope="col">Qtd. Uniformes</th>
                                        <th scope="col">R$ Uniformes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>

                            </div>


                        </div>


                        <!-- END QLP ADM -->





                    </div>

                    <div class="tab-pane" id="div_tab_cargos_rem_senior" role="tabpanel"
                         aria-labelledby="a_tab_cargos_rem_senior">
                        <div class="d-flex flex-column w-100 align-items-start" style="font-size: 14px;">
                            <b>QLP por Filial</b>
                        </div>

                        <table id="tab_qlp_filial_senior_x_freigh"  class="display wrap w-100 cl_tab_principal_pagina">
                                <thead>
                                    <tr>
                                        <th scope="col">Quinz.</th>
                                        <th scope="col">Dia</th>
                                        <th scope="col">Filial</th>
                                        <th scope="col">Cargo Senior</th>
                                        <th scope="col">Cargo Freightech</th>
                                        <th scope="col">Qlp</th>
                                        <th scope="col">R$ TT Ordenados</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>


                        <div class="d-flex flex-column w-100 align-items-start" style="font-size: 14px;">
                            <b>QLP por Projeto</b>
                        </div>

                        <table id="tab_qlp_senior_x_freigh"  class="display wrap w-100 cl_tab_principal_pagina">
                                <thead>
                                    <tr>
                                        <th scope="col">Quinz.</th>
                                        <th scope="col">Dia</th>
                                        <th scope="col">Projeto</th>
                                        <th scope="col">Cargo Senior</th>
                                        <th scope="col">Cargo Freightech</th>
                                        <th scope="col">Qlp</th>
                                        <th scope="col">R$ TT Ordenados</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>





                    </div>


                </div>
            </div>



        </div>
    </div>
</div>




