{% load static %}

{% block link_static_css %}
    {% if cod_empresa == 17 %}
        <link rel="stylesheet" href="{% static 'css/frota_custos_placa_app/frm_custos_placa_deep.css' %}" />
    {% endif %}
{% endblock %}



<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100">
    <div class="mt-3 d-flex align-items-start justify-content-between div_Titulo">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-chart-simple" style="color: {{ cor_padrao }}"></i>
            <h1 class="titlePadraoMenu">Cluster DRE Frota</h1>
        </div>
        <img class="logo_cabecalho" src="{% static logo_empresa %}" >
    </div>

    <div class="containerApp">
        <form id="frm_custos_placa" name="frm_custos_placa"
              method="POST"
              class="d-flex flex-column align-items-center justify-content-between cl_frm_topo_paginas">
            {% csrf_token %}
            <input type="hidden" id="hd_cor_empresa_frm_custos_placa" value="{{cor_padrao}}">
            <div class="d-flex justify-content-between align-items-between w-100">
                <hr class="hr_title">
            </div>

            <div class="d-flex justify-content-between align-items-between w-100">
                <div class="d-flex flex-column justify-content-end w-100" style="margin-right: 0.25rem;">
                    <div class="d-flex w-100">
                        <label for="sl_handle_filial_custos_placa">Filial
                            <!-- <button type='button' id="btn_seleciona_todas_proj_frm_custos_placa"
                                name="btn_seleciona_todas_proj_frm_custos_placa"
                                class="btn btn-rounded btn-space" title="Todos os projetos" >
                                <i class="fa-regular fa-square-check" style="color: {{ cor_padrao }}"></i>
                            </button>
                            &nbsp;&nbsp;
                            <button type='button' id="btn_desmarcar_projetos_frm_custos_placa"
                                name="btn_desmarcar_projetos_frm_custos_placa"
                                class="btn btn-rounded btn-space" title="Limpar seleção">
                                <i class="fa-regular fa-square" style="color: {{ cor_padrao }}"></i>
                            </button> -->
                        </label>
                    </div>

                    <div class="d-flex flex-column w-100">
                        <select class="selectpicker form-control" id="sl_handle_filial_custos_placa"
                                name="sl_handle_filial_custos_placa"
                                data-live-search="true"
                                title="Selecione a filial">
                            {% for fil in lista_dic_filiais %}
                                <option value="{{ fil.handle_filial }}">{{ fil.nome_filial }}</option>
                            {% endfor %}

                        </select>
                    </div>
                </div>

                <div class="d-flex flex-column justify-content-end align-items-start w-100" style="margin-left: 0.25rem;margin-right: 0.25rem;margin-top: 0.85rem;">
                    <label for="dt_comp_frm_custos_placa">Período</label>
                    <input type="month" class="form-control" name="dt_comp_frm_custos_placa"
                           id="dt_comp_frm_custos_placa" autocomplete="off" />
                </div>

                <div class="d-flex flex-column w-100" style="margin-left: 0.25rem;margin-right: 0.25rem;">
                    <div class="d-flex w-100">
                        <label for="sl_conta_frm_custos_placa">Contas do período
                            <button type='button' id="btn_seleciona_todas_conta_frm_custos_placa"
                                name="btn_seleciona_todas_conta_frm_custos_placa"
                                class="btn btn-rounded btn-space" title="Todos os projetos" >
                                <i class="fa-regular fa-square-check" style="color: {{ cor_padrao }}"></i>
                            </button>
                            &nbsp;&nbsp;
                            <button type='button' id="btn_desmarcar_conta_frm_custos_placa"
                                name="btn_desmarcar_conta_frm_custos_placa"
                                class="btn btn-rounded btn-space" title="Limpar seleção">
                                <i class="fa-regular fa-square" style="color: {{ cor_padrao }}"></i>
                            </button>
                        </label>
                    </div>


                    <select class="selectpicker form-control" id="sl_conta_frm_custos_placa"
                            name="sl_conta_frm_custos_placa"
                            multiple data-selected-text-format="count > 0"
                            data-live-search="true"
                            readonly
                            title="Selecione as contas do período">

                    </select>

                </div>

                <div class="d-flex flex-column w-100 justify-content-end" style="margin-left: 0.25rem;margin-right: 0.25rem;">
                    <button type="button" name="btn_gera_dados_custos_placas_proj"
                            id="btn_gera_dados_custos_placas_proj"
                            class="btn btn-primary btn-rounded botaoPrincipal">
                        <i class="fa-solid fa-filter"></i>
                        Gerar Dados
                    </button>
                </div>
            </div>



            <div class="d-flex justify-content-center align-items-center w-100">
                <div class="d-flex align-items-end w-100">
                    <div class="loader" id="loader_frm_custos_placa">
                        <div class="loader-inner">
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;padding-right: 0.25rem;">
                    &nbsp;&nbsp;
                </div>

                <div class="d-flex flex-column w-100"
                     style="padding-left: 0.25rem;padding-right: 0.25rem;padding-top: 1.6rem;">
                     &nbsp;&nbsp;
                </div>
                <div class="d-flex flex-column w-100">
                    &nbsp;
                </div>
            </div>

        </form>
        <div class="form-group  cl_div_tabela_principal_pagina w-100">
            <nav>
                <div class="nav nav-tabs" id="myTab" role="tablist">
                    <button class="nav-link active" id="btn_tab_resumo_custos_fil" data-bs-toggle="tab"
                            data-bs-target="#div_tab_resumo_custos_fil" type="button" role="tab"
                            aria-controls="div_tab_resumo_custos_fil" aria-selected="true">
                        <i class="fa-solid fa-file-invoice-dollar"></i>
                        Resumo Filial
                    </button>
                    <button class="nav-link" id="btn_tab_resumo_custos_proj" data-bs-toggle="tab"
                            data-bs-target="#div_tab_resumo_custos_proj" type="button" role="tab"
                            aria-controls="div_tab_resumo_custos_proj" aria-selected="false">
                        <i class="fa-solid fa-file-signature"></i>
                        Resumo Projeto
                    </button>
                    <button class="nav-link" id="btn_tab_resumo_custos_placa" data-bs-toggle="tab"
                            data-bs-target="#div_tab_resumo_custos_placa" type="button" role="tab"
                            aria-controls="div_tab_resumo_custos_placa" aria-selected="false">
                        <i class="fa-solid fa-users"></i>
                        Resumo Placas
                    </button>
                    <button class="nav-link" id="btn_tab_lanc_placas" data-bs-toggle="tab"
                            data-bs-target="#div_placas_frm_custos_placa" type="button" role="tab"
                            aria-controls="div_placas_frm_custos_placa" aria-selected="false">
                        <i class="fa-solid fa-paperclip"></i>
                        Lançamentos Placas
                    </button>
                </div>
            </nav>

            <div class="tab-content" style="border-radius:0 0 10px 10px;">
                <div class="tab-pane" id="div_tab_resumo_custos_fil" role="tabpanel" aria-labelledby="btn_tab_resumo_custos_fil">

                </div>

                <div class="tab-pane" id="div_tab_resumo_custos_proj" role="tabpanel" aria-labelledby="btn_tab_resumo_custos_proj">

                </div>

                <div class="tab-pane" id="div_tab_resumo_custos_placa" role="tabpanel" aria-labelledby="btn_tab_resumo_custos_placa">

                </div>

                <div class="tab-pane" id="div_placas_frm_custos_placa" name="div_placas_frm_custos_placa" aria-labelledby="btn_tab_lanc_placas"
                     role="tabpanel">
                    <table id="tab_placas_razao"  class="display wrap w-100 cl_tab_principal_pagina">
                        <thead>
                            <tr>
                                <th scope="col" class="col_placa">Placa</th>
                                <th scope="col" class="col_conta">Conta</th>
                                <th scope="col" class="col_dt_lanc">Dt. Lançamento</th>
                                <th scope="col" class="col_val">R$ Valor</th>
                                <th scope="col" class="col_cluster">Cluster</th>
                                <th scope="col" class="col_detail_os">Detalhes OS</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>

            </div>


        </div>
    </div>
</div>



{% include 'frota_custos_placa_app/modais_frm_custos_placas.html' %}

