
<!-- Modal OS razao -->
<div id="modal_lista_os_razao_conta" role="dialog" class="modal">
    <div class="modal-dialog" style="max-width: 600px; width: 600px; border-radius: 10px;
        margin-left: 30px; margin-right: 30px; margin-top: 30px; margin-bottom: 30px;">
        <div class="modal-content">
            <div class="modal-header"
                 style="background-color: {{ cor_padrao }};height: 40px;padding-right: 5px;padding-bottom: 35px;
            padding-top: 10px;font-size:10px;">
                <div class="row" style="margin-left: 0px;margin-right: 0px;width: 1400px;margin-top: 35px;" >
                    <div class="col-md-6" align="left">
                        <p>
                            <i class="fa-solid fa-file fa-2xl" style="color: #FFFFFF;"></i>
                            <span style="color:#ffffff; font-size:15px">Ordens de Serviços</span>
                        </p>
                    </div>
                    <div class="col-md-6" align="right">
                        <button type="button" name="btn_fecha_modal_lista_os_razao_conta"
                                id="btn_fecha_modal_lista_os_razao_conta"
                                class="btn btn-sm btn-rounded">
                            <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #FFFFFF;"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="frm_lista_os_razao_conta" name="frm_lista_os_razao_conta"
                      class="d-flex flex-column align-items-center justify-content-between"
                      method="POST">

                    <div class="d-flex justify-content-between align-items-between w-100">
                        <div class="d-flex flex-column cl_div_tabela_principal_pagina" id="div_dados_os"
                             style="width: 98%; height: 40%; border-radius: 10px; margin: 1rem;">




                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>