{% load static %}

{% block link_static_css %}
    <link rel="stylesheet" href="{% static 'css/suprimentos_evolucao_precos_app/form_gera_evolucao_precos.css' %}" />
{% endblock %}


<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100">
    <div class="mt-3 d-flex align-items-start justify-content-between div_Titulo">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-filter fa-2xl"style="color: #f46424;"></i>
            <h1 class=" titlePadraoMenu">Rel. Pagamento por Projeto / Período / Tipo Pagamento</h1>
        </div>
        {% if obj_usuario_logado.cod_filial.cod_empresa.cod_empresa == 12 %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-branca.png' %}" >
        {% else %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-small-deep.png' %}" >
        {% endif %}
    </div>

    <div class="containerApp">
        <form id="frm_rel_pag_terc_por_proj" name="frm_rel_pag_terc_por_proj"
              method="POST"
              class="d-flex flex-column align-items-center justify-content-between cl_frm_topo_paginas">
            {% csrf_token %}

            <div class="d-flex justify-content-between align-items-between w-100">
                <hr class="hr_title">
            </div>

            <div class="d-flex justify-content-between align-items-between w-100 mb-4">
                <div class="d-flex flex-column w-100" style="padding-right: 0.25rem;">
                    <label for="listProjetosRelPagTerc">Projeto</label>
                    <select class="selectpicker form-control" id="listProjetosRelPagTerc"
                        name="listProjetosRelPagTerc"
                        data-live-search="true">
                        <option value="0" selected="selected">Informe o Projeto</option>
                        {% for p in cad_projetos %}
                            <option value="{{ p.cod_projeto.cod_projeto }}">{{p.cod_projeto.desc_proj }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;">
                    <label for="textFieldPeriodoReferenciaRelPagTerc">Período</label>
                    <input type="month" class="form-control" name="textFieldPeriodoReferenciaRelPagTerc"
                           id="textFieldPeriodoReferenciaRelPagTerc" autocomplete="off" />
                </div>

                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;">
                    <label for="listQuinzRelPagTerc">Projeto</label>
                    <select class="selectpicker form-control" id="listQuinzRelPagTerc"
                        name="listQuinzRelPagTerc"
                        data-live-search="true">
                        <option value="1,31" selected="selected">1ª e 2ª Quinz.</option>
                        <option value="1,15">1ª Quinz.</option>
                        <option value="16,31">2ª Quinz.</option>
                    </select>
                </div>

                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;">
                    <label for="listOcorrenciaPagamentoRelPagTerc">Projeto</label>
                    <select class="selectpicker form-control" id="listOcorrenciaPagamentoRelPagTerc"
                        name="listOcorrenciaPagamentoRelPagTerc"
                        data-live-search="true">
                        <option value="M" selected="selected">Pagamentos Mapas 2Art</option>
                        <option value="E">Pagamentos Extras</option>
                    </select>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-between w-100 mb-4">
                <div class="d-flex align-items-end w-100 cl_div_loader_gera_pag_2art_terc">
                    <div class="loader" id="loader_rel_pag_terc">
                        <div class="loader-inner">
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column w-100" style="padding-left: 0.25rem;padding-right: 0.25rem;">
                    &nbsp;&nbsp;
                </div>

                <div class="d-flex flex-column w-100"
                     style="padding-left: 0.25rem;padding-right: 0.25rem;padding-top: 1.6rem;">
                     &nbsp;&nbsp;
                </div>
                <div class="d-flex flex-column w-100">
                    <button type="button" name="btnPesqRelPagTerceirosProjPeriodoTipo"
                            id="btnPesqRelPagTerceirosProjPeriodoTipo"
                            class="btn btn-primary btn-rounded botaoPrincipal">
                        <i class="fa-solid fa-filter"></i>
                        Gerar Dados
                    </button>
                </div>
            </div>

        </form>
        <!-- cl_div_tab_mapas_terceitos_2art -->
        <div class="form-group  cl_div_tabela_principal_pagina w-100">
            <div id="divConteudoRelPagTerc" class="col-md-12 w-100 h-100">

            </div>
        </div>
    </div>
</div>



{% include 'plan_controle_fat_2art_terc_app/modais_form_relatorio_pag_terc.html' %}

