{% load static %}

<form class="d-flex justify-content-center align-items-center flex-column" style="width:100%;">
        {% csrf_token %}

        <div style="display:flex">
            <i class="fa-solid fa-helmet-safety" style="font-size:40px;color:#f46424"></i>
            &nbsp;
            <h1 class="homeApp__tituloPortal">Safety</h1>
        </div>

        <div class="form__group field">
          <input required="" placeholder="CPF" class="form__field" type="input" id="input_cpf"
                 name="input_cpf" autofocus>
          <label class="form__label" for="input_cpf">CPF</label>
        </div>

        <div class="form__group field">
          <input required placeholder="Teste" class="form__field input-data-nascimento" id="input-data-nascimento" name="input-data-nascimento" maxlength="10" inputmode="numeric">
          <label class="form__label" for="input-data-nascimento">Dt. Nascimento</label>
        </div>

        <button type="button" id="btn_login_safety" name="btn_login_safety" onclick="" class="mt-5 btn btn-primary btn-login-safety">
            Entrar
        </button>
        <div class="form__group field">
        </div>
          {% if cod_empresa == '12' %}
               <div class="homeApp__sobre">
                 <img class="conlog-logo" src="{% static 'img/logo-conlog.png'%}" alt="Logo Conlog"/>
                 <img class="mt-2 homeApp_temValor" src="{% static 'img/tem-valor.png'%}" alt="Logo Conlog"/>
               </div>
          {% else %}
               <div class="homeApp__sobre" style="width:30%">
                 <img class="logo-deep" src="{% static 'img/logo-deep-small.png'%}" alt="Logo Deep" style="max-width:100%;"/>
               </div>
          {% endif %}
      </form>
        {% if cod_empresa == '12' %}
            <div style="display:flex;justify-content:flex-end;height:10%;width:100%;padding: 0px 16px 90px 0px;position:absolute;bottom:0px;">
                <button class="btn btn-space btn-voltar-empresa-safety">
                    <div style="display:flex;flex-direction:column">
                        <i class="fa-solid fa-arrow-right-from-bracket" style="color:#f46424;font-size:32px"></i>
                        <b style="color:white;font-size:17px">Voltar</b>
                    </div>
                </button>
            </div>
            {% else %}
            <div style="display:flex;justify-content:flex-end;height:10%;width:100%;padding: 0px 16px 90px 0px;position:absolute;bottom:0px;">
                <button class="btn btn-space btn-voltar-empresa-safety">
                    <div style="display:flex;flex-direction:column">
                        <i class="fa-solid fa-arrow-right-from-bracket" style="color:#3b8eed;font-size:32px"></i>
                        <b style="color:white;font-size:17px">Voltar</b>
                    </div>
                </button>
            </div>
        {% endif %}