<div style="height:100%;width:100%;padding:1rem;display:flex;flex-direction:column;justify-content:space-between;align-items:flex-end">
    <div class="safety-container-menu" style="height:90%">
        <div class="d-flex justify-content-between align-items-center" style="height:10%;">
            <div class="d-flex flex-column justify-content-center align-items-center w-100 mb-1">
                <i class="fa-solid fa-helmet-safety" style="font-size:30px;color:#f46424"></i>
                <h6 class="homeApp__tituloPortal">Safety</h6>
            </div>
            <div class="d-flex justify-content-center align-items-center w-100 mb-1">
                <i>Bem vindo, </i>
                <b>{{nome_colaborador}}</b>
            </div>
        </div>
        <div style="margin-bottom:5%;height:5%">
            <hr style="width:100%;margin:0px;margin-bottom:10px">
            <div style="display:flex;justify-content:flex-end;">
                <i style="font-size:11px;">{{desc_filial_colaborador}}</i>
            </div>
        </div>
        <div class="d-flex flex-column w-100" style="height:100%;overflow-y:scroll">
            {% autoescape off %}
                {{str_menu_colaborador}}
            {% endautoescape %}
        </div>
        <div style="display:flex;justify-content:flex-end;height:10%">
            <button class="btn btn-space btn-sair-safety">
                <div style="display:flex;flex-direction:column">
                    <i class="fa-solid fa-arrow-right-from-bracket" style="color:#f46424;font-size:32px"></i>
                    <b style="color:white;font-size:12px">Sair</b>
                </div>
            </button>
        </div>
    </div>
</div>