<div style="height:100%;width:100%;padding:1rem;display:flex;flex-direction:column;justify-content:space-between;align-items:flex-end">
    <div class="safety-container-menu" style="height:0%">
        <div style="display:flex;justify-content:space-between;align-items:center">
            <h1 class="homeApp__tituloPortal">Safety</h1>
            <div>
                <i>Obrigado, </i>
                <b>{{nome_colaborador}}</b>
            </div>
        </div>
        <div style="margin-bottom:3rem;">
            <hr style="width:100%;margin:0px;margin-bottom:10px">
            <div style="display:flex;justify-content:flex-end;">
                <i style="font-size:11px;">{{desc_filial_colaborador}}</i>
            </div>
        </div>
    </div>
    <div style="margin-right:5vw">
        <p style="width:100%;display:flex;justify-content:center;font-size:5vw;color:var(--cor_empresa);margin-bottom:0px">Relato realizado com sucesso!</p>
        <p style="width:100%;display:flex;justify-content:center;font-size:5vw;margin-bottom:0px;">Cód. do relato:</p>
        <p style="width:100%;display:flex;justify-content:center;font-size:7vw;">#{{id_relato}}#</p>
        <button id="button_flag_visitante" hidden style="display:hidden" value="{{flag_visitante}}"></button>
    </div>
    <div style="width:50%;display:flex;justify-content:flex-end">
    </div>
</div>
