{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login | Portal Operacional
{% endblock %}

{% block link_static_css %}
  {% if cod_empresa == '12' %}
    <link rel="stylesheet" href="{% static 'css/cores_conlog.css' %}" />

  {% else %}
    <link rel="stylesheet" href="{% static 'css/cores_deep.css' %}" />
  {% endif %}

  <link rel="stylesheet" href="{% static 'css/safe_login_colaboradores/safety_login_colaboradores.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/menu_app/menu_app.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/perfil-dropdown.css' %}" />
  <!-- Bootstrap select picker -->
  <link rel="stylesheet" href="{% static 'libs/bootstrap_select_1_14_0/css/bootstrap-select.css' %}"/>

  <!-- Bibliotecas Table-->
  <link defer rel="stylesheet" href="{% static 'libs/jquery_3_6_0/css/dataTables.min.css' %}"/>

  <link rel="stylesheet" href="{% static 'css/toggle_switch.css' %}" />
  <link rel="stylesheet" href="{% static 'css/loader.css' %}" />
{% endblock %}

{% block conteudo %}
  <main id="main_container_safety" class="text-white justify-content-center align-items-center d-flex homeApp_loginContainer safety-container-screen">
    <form class="d-flex justify-content-center align-items-center flex-column" style="width:100%">
        {% csrf_token %}
          <input type="hidden" id="hd_indica_status_login" value="{{ cod_status_login }}">
          <input type="hidden" id="hd_msg_return" value="{{ msg_erro }}">

        <div style="display:flex">
            <i class="fa-solid fa-helmet-safety" style="font-size:40px;color:#f46424"></i>
            &nbsp;
            <h1 class="homeApp__tituloPortal">Safety</h1>
        </div>

        <div class="form__group field">
          <input required="" placeholder="CPF" class="form__field" type="input" id="input_cpf"
                 name="input_cpf" autofocus>
          <label class="form__label" for="input_cpf">CPF</label>
        </div>

        <div class="form__group field">
          <input required placeholder="Teste" class="form__field input-data-nascimento" id="input-data-nascimento" name="input-data-nascimento" maxlength="10" inputmode="numeric">
          <label class="form__label" for="input-data-nascimento">Dt. Nascimento</label>
        </div>

        <button type="button" id="btn_login_safety" name="btn_login_safety" onclick="" class="mt-5 btn btn-primary btn-login-safety">
            Entrar
        </button>
        <div class="form__group field">
            <h6>{{ msg }}</h6>
        </div>
        {% if cod_empresa == '12' %}
            <div class="homeApp__sobre">
              <img class="conlog-logo" src="{% static 'img/logo-conlog.png'%}" alt="Logo Conlog"/>
              <img class="mt-2 homeApp_temValor" src="{% static 'img/tem-valor.png'%}" alt="Logo Conlog"/>
            </div>
        {% else %}
            <div class="homeApp__sobre" style="width:30%">
              <img class="logo-deep" src="{% static 'img/logo-deep-small.png'%}" alt="Logo Deep" style="max-width:100%;"/>
            </div>
        {% endif %}
      </form>
      {% if cod_empresa == '12' %}
        <div style="display:flex;height:fit-content;width:100%;padding: 0px 0px 25px 25px;position:absolute;bottom:0px;">
                <button class="btn btn-space btn-voltar-empresa-safety" style="height:fit-content;">
                    <div style="display:flex;flex-direction:column">
                        <i class="fa-solid fa-arrow-left" style="color:#f46424;font-size:32px"></i>
                        <b style="color:white;font-size:14px">Voltar</b>
                    </div>
                </button>
            </div>
            {% else %}
            <div style="display:flex;height:fit-content;width:100%;padding: 0px 0px 25px 25px;position:absolute;bottom:0px;">
                <button class="btn btn-space btn-voltar-empresa-safety">
                    <div style="display:flex;flex-direction:column">
                        <i class="fa-solid fa-arrow-left" style="color:#3b8eed;font-size:32px"></i>
                        <b style="color:white;font-size:14px">Voltar</b>
                    </div>
                </button>
            </div>
        {% endif %}
  </main>
{% endblock %}

{% block link_static_js %}
  <script src="{% static 'controllers/safety_login_colaboradores/frm_safety_login.js' %}?v='{{VERSAO_SAFETY}}' %}"
        type="text/javascript">
    </script>
  <script defer  src="{% static 'libs/bootstrap_select_1_14_0/js/bootstrap-select.js' %}"></script>
  <script src="{% static 'controllers/safety_gab_op_emp_app/frm_gab_op_emp_app.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
  <script src="{% static 'controllers/safety_relatos_app/frm_relatos_app.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
  <script src="{% static 'controllers/safety_gsdpq_app/frm_gsdpq_app.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
  <script src="{% static 'controllers/safety_gso_app/frm_gso_app.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
  <script src="{% static 'controllers/safety_blitz_trajeto_carro_app/frm_blitz_trajeto_carro_app.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
  <script src="{% static 'controllers/safety_blitz_trajeto_moto_app/frm_blitz_trajeto_moto_app.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
  <script src="{% static 'controllers/safety_blitz_trajeto_bicicleta_app/frm_blitz_trajeto_bicicleta_app.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
  <script src="{% static 'controllers/safety_blitz_trajeto_outros_meios_app/frm_blitz_trajeto_outros_meios_app.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
  <script src="{% static 'libs/browser-image-compression/browser-image-compression.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
  <script src="{% static 'controllers/safety_checks_aplicados_app/frm_checks_aplicados_app.js' %}?v='{{VERSAO_SAFETY}}' %}"
          type="text/javascript">
  </script>
{% endblock %}