<div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 mb-3">
      <label class="pag-lista-empresa-size" style="font-size:18px;width:70%;">Selecione a empresa:</label>

      <div class="d-flex flex-column w-100 align-items-center" style="padding:10px 15%;">
        <form id="frm_selecione_empresa_conlog" name="frm_selecione_empresa_conlog"  method="GET" style="max-height:100%;justify-content:flex-end;"
        class="d-flex flex-column align-items-center" action="{% url 'safe_pag_empresa' %}">
            <button class="btn-empresa-conlog pag-lista-empresa-size" type='submit' name='empresa' value="conlog"
                    onmouseover="troca_img_para_branca()" onmouseout="troca_img_para_preta()"
                    class='btn btn-rounded btn-space btn_conlog' title='Acessar como usuario CONLOG'>
                        <img class="img-logo-conlog" src="/static/img/logo_conlog_laranja_blur.png" style="height:10vh;width:100%;min-height:83px;"/>
            </button>
        </form>
        </div>

      <div class="d-flex flex-column w-100" style="max-height:40%;padding:10px 15%;align-items:center;">
        <form id="frm_selecione_empresa_deep" name="frm_selecione_empresa_deep"  method="GET"
              class="d-flex flex-column align-items-center justify-content-between" style="height:100%;max-width:476px;width:100%;"
              action="{% url 'safe_pag_empresa' %}">
            <button type='submit' name='empresa' value="deep" style="padding:0px;width:100%;"
                class='btn btn-rounded btn-space btn_deep' title='Acessar como usuario DEEP'>
                <img class="btn-empresa-deep pag-lista-empresa-size" src="/static/img/logo-deep-resized.png"/>
            </button>
        </form>

      </div>
</div>