{% load static %}

{% block link_static_css %}
  <link rel="stylesheet" href="{% static 'css/cores.css' %}" />
  <link rel="stylesheet" href="{% static 'css/frota_disponibilidade_empilhadeira_app/form_gera_disp_empilhadeira.css' %}" />
  <link rel="stylesheet" href="{% static 'css/toggle_switch.css' %}" />
  <link rel="stylesheet" href="{% static 'css/loader.css' %}" />
{% endblock %}


<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100">
    <div class="mt-3 d-flex align-items-start justify-content-between div_Titulo">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-comment-dollar fa-2xl" alt="Importar 2artd" style="color: #f46424;"></i>
            <h1 class=" titlePadraoMenu">Geração Apontamento Disponibilidade de Empilhadeiras</h1>
        </div>
        <img class="logo_cabecalho" src="{% static 'icons/logo-branca.png' %}" >
    </div>
	<div class="d-flex justify-content-between align-items-between div_Titulo_line">
		<hr class="hr_title">
	</div>

    <div class="containerApp">
        <form id="frm_gera_disp_empilhadeira" name="frm_gera_disp_empilhadeira"
              method="POST"
              class="d-flex flex-column align-items-center justify-content-between cl_frm_gera_disp_empilhadeira">
            {% csrf_token %}

            <div class="d-flex justify-content-between align-items-between w-100 mb-2">
                <div class="d-flex align-items-end w-75" style="padding-bottom: 0.150rem;">
                    <select class="selectpicker form-control" id="cb_proj_form_gera_disp_empilhadeira"
                            name="cb_proj_form_gera_disp_empilhadeira"
                            data-live-search="true"
                            title="Selecione o projeto">
                        {%  if tipo_usuario == 'C' %}
                            {% for p in lista_projetos %}
                                <option value="{{ p.handle_benner }}">{{p.desc_proj }}</option>
                            {% endfor %}
                        {%  endif %}
                        {%  if tipo_usuario == 'U' %}
                            {% for p in lista_projetos %}
                                <option value="{{ p.cod_projeto.handle_benner }}">{{p.cod_projeto.desc_proj }}</option>
                            {% endfor %}
                        {%  endif %}
                    </select>
                </div>

                <div class="d-flex flex-column w-25"
                     style="margin-left: 0.5rem;margin-bottom: 0.15rem;">
                    <label for="dt_periodo_pesq_disp_emp">
                        Competência *
                        <input type="month" class="form-control " id="dt_periodo_pesq_disp_emp">
                    </label>
                </div>
            </div>


            <div class="d-flex justify-content-between align-items-between w-100 mb-4" >
                <div class="d-flex align-items-end w-100 cl_div_loader_gera_pag_2art_terc">
                    <div class="loader" id="loader_gera_disp_emp">
                        <div class="loader-inner">
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column w-100">
                    &nbsp;&nbsp;
                </div>
                <div class="d-flex flex-column w-100">
                    <button type="button" name="btn_pesq_disp_emp" id="btn_pesq_disp_emp"
                            class="btn btn-primary btn-rounded botaoPrincipal" >
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Pesquisar
                    </button>
                </div>
                <div class="d-flex flex-column w-100" style="margin-left: 0.5rem;">
                    <button type="button" name="btn_abre_model_pesq_emp_proj" id="btn_abre_model_pesq_emp_proj"
                            class="btn btn-primary btn-rounded botaoPrincipal">
                        <i class="fa-solid fa-filter"></i>
                        Buscar Empilhadeiras do Projeto
                    </button>
                </div>

            </div>
        </form>
        <!-- cl_div_tab_mapas_terceitos_2art -->
        <div class="form-group  cl_div_tabela_principal_pagina w-100">
                <input type="hidden" name="hd_indica_conteudo_tabela_apontamento_indisp_emp"
                               id="hd_indica_conteudo_tabela_apontamento_indisp_emp" value="0">
                <table id="tab_lanc_apontamento_indisp_emp"  class="display wrap w-100 cl_tab_lanc_apontamento_indisp_emp">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Dia</th>
                            <th scope="col">Dia semana</th>
                            <th scope="col">Turno</th>
                            <th scope="col">Placa</th>
                            <th scope="col">Status/Sigla</th>
                            <th scope="col">Qtd. OS no Benner</th>
                            <th scope="col">Qtd. OS Vinculada</th>
                            <th scope="col">Paradas(DD:HH:MM)</th>
                            <th scope="col">Vincular OS</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Vincular OS ?</th>

                        </tr>
                    </thead>
                    <tbody>

                    </tbody>

                </table>


        </div>
    </div>
</div>


{% include 'frota_disponibilidade_empilhadeira_app/modais_disponibilidade_empilhadeira.html' %}

