html, body {
    height: 100%;
}
  
body {
margin: 0;
padding: 0;
/* imagem tela de login */
background-image: url('../../img/background.jpg');
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}

.homeApp_loginContainer{
    background-color: var(--cor_bg_login);
    border-radius: 0.5rem;
    position: relative;
}

.homeApp_temValor{
    max-width: 75%;
}

.homeApp__linhaVertical{
    border-left: 1px solid var(--cor_cinza_escuro); 
    height: 75%;
}


.homeApp__loginForm{
    text-align: center;
}

.homeApp__tituloPortal{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--cor_branco);
    text-shadow: 0 0 2px var(--cor_branco);
}


.btn-login{
    font-size: 13px;
    text-transform: capitalize;
    background-color: var(--cor_cinza_escuro) !important;
    border-color: var(--cor_cinza_escuro) !important;
    text-transform: uppercase;
    width: 40%;
}

.btn-login:hover{
    color: var(--cor_branco) !important;
    border-color: var(--cor_empresa_hover) !important;
    background-color: var(--cor_empresa_hover) !important;
}
.btn-login:active{
    color: var(--cor_branco) !important;
    border-color: var(--cor_empresa_active) !important;
    background-color: var(--cor_empresa_active) !important;
}

/* Responsividade */
@media screen and (min-width: 0){
    .homeApp__sobre{
        display: none;
    }
    
    .homeApp__loginForm{
        width: 100%;
        
    }
    
    .homeApp__tituloPortal{
        font-size: 1.2rem;
    }

    .form__group {
        position: relative;
        padding: 20px 0 0;
        margin-top: 10px;
        width: 75%;
        
      }
}


@media screen and (min-width: 1000px){

    .homeApp__sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 35%;
    }

    .homeApp__loginForm{
        width: 65%;

    }

    .homeApp__tituloPortal{
        font-size: 2rem;
    }

    .form__group {
        position: relative;
        padding: 20px 0 0;
        margin-top: 10px;
        width: 40%;

      }
}


/* Custom input para o login */
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--cor_cinza_escuro);
    outline: 0;
    font-size: 15px;
    color: var(--cor_branco);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: var(--cor_cinza_claro);
    pointer-events: none;
  }
  
  .form__field:focus, .form__field:hover {
    padding-bottom: 6px;
    /* font-weight: 700; */
    border-width: 3px;
    border-image: linear-gradient(to right, var(--cor_empresa_active), var(--cor_empresa), var(--cor_empresa_active));
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 15px;
    color: var(--cor_empresa);
    /* font-weight: 700; */
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }