{% load static %}

{% block link_static_css %}
    <link rel="stylesheet" href="{% static 'css/contabil_composicao_app/contabil_composicao_app.css' %}" />
{% endblock %}

<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100">
    <div class="mt-3 d-flex align-items-center justify-content-between div_Titulo">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-gavel"></i>
            <h1 class=" titlePadraoMenu">{{desc_menu}}</h1>
        </div>
        {% if obj_usuario_logado.cod_filial.cod_empresa.cod_empresa == 12 %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-branca.png' %}" >
        {% else %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-small-deep.png' %}" >
        {% endif %}
    </div>

    <div class="d-flex justify-content-between align-items-between div_Titulo_line">
        <hr class="hr_title">
    </div>


    <div class="containerApp">

        <form id="frm_conciliacao_com_benner_aud" name="frm_conciliacao_com_benner_aud"
              class="d-flex flex-column align-items-center justify-content-between cl_frm_topo_paginas"
              method="POST">
            <input type="hidden" id="hd_tipo_rel" value="A">

            <div class="d-flex justify-content-between align-items-between w-100" >
                <div class="d-flex flex-column justify-content-end align-items-start" style="width:30%;margin-right: .5rem;">
                    <label>Competência</label>
                    <input type="month" class="form-control" name="dt_conciliacao_comp_benner"
                           id="dt_conciliacao_comp_benner" required>

                </div>


                <div class="d-flex flex-column align-items-start" style="width:70%;">
                    <label class="d-flex justify-content_between align-items-around w-100">
                        <div class="d-flex justify-content-between align-items-around w-100">
                            <fieldset>
                                <!-- <legend style="font-size: 1.05rem;">Modelo:</legend> -->
                                <div class="form-check-inline" style="font-size: 1.25rem;">
                                    <label class="form-check-label">
                                        <input type="radio" name="rd_modelo_conta_conc_comp_benner" class="form-check-input"
                                           id="rd_modelo_conta_conc_comp_benner_1">
                                        Modelo 1
                                    </label>
                                </div>

                                <div class="form-check-inline" style="font-size: 1.25rem;">
                                    <label class="form-check-label">
                                        <input type="radio" name="rd_modelo_conta_conc_comp_benner" class="form-check-input"
                                           id="rd_modelo_conta_conc_comp_benner_2">
                                        Modelo 2
                                    </label>
                                </div>

                                <div class="form-check-inline" style="font-size: 1.25rem;">
                                    <label class="form-check-label">
                                        <input type="radio" name="rd_modelo_conta_conc_comp_benner" class="form-check-input"
                                           id="rd_modelo_conta_conc_comp_benner_3">
                                        Modelo 3
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="d-flex justify-content-center align-items-center w-100">
                            Contas
                            <button type='button' id="btn_marcar_contas_comp_benner"
                                    name="btn_marcar_contas_comp_benner"
                                    class="btn btn-rounded btn-space"
                                    title="Selecionar todos os projetos"
                                    style="width: 50px;">
                                <i class="fa-regular fa-square-check icon-color-e"></i>
                            </button>
                            <button type='button' id="btn_desmarcar_contas_comp_benner"
                                    name="btn_desmarcar_contas_comp_benner"
                                    class="btn btn-rounded btn-space"
                                    title="Limpar seleção"
                                    style="width: 50px;">
                                <i class="fa-regular fa-square icon-color-e" ></i>
                            </button>
                        </div>

                    </label>
                    <select class="selectpicker form-control" id="cb_contas_conciliacao_comp_benner"
                            name="cb_contas_conciliacao_comp_benner"
                            style="color: #999999; font-size: 20px; height: 54.65px"
                            multiple data-selected-text-format="count > 0"
                            data-live-search="true" title="Selecione o tipo de modelo das contas">

                        {% for conta in lista_contas_modelo_1 %}
                            <option value="{{conta.cod_conta}}">
                                {{conta.desc_conta}} -
                                Cód. red. CP - {{ conta.cod_red_conta_contabil_cp}} -
                                Cód. red. LP - {{ conta.cod_red_conta_contabil_lp}}
                            </option>
                        {% endfor %}

                    </select>


                </div>
            </div>

            <div class="d-flex justify-content-between align-items-between w-100 mb-3 mt-3">
                <div class="d-flex flex-column w-100 cl_div_competencia_conciliacao_detalhada">
                    <div class="loader" id="loader_comp_aud">
                        <div class="loader-inner">
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                            <div class="loader-block"></div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column w-100 ">
                    &nbsp
                </div>

                <div class="d-flex flex-column align-items-end w-100">
                    <button type='button' id="btn_gera_conciliacao_comp_benner_detalhado_aud"
                            name="btn_gera_conciliacao_comp_benner_detalhado_aud"
                            class="btn btn-primary btn-rounded botaoPrincipal" >
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Gerar</span>
                    </button>
                </div>

            </div>

        </form>

        <div class="form-group cl_div_tabela_principal_pagina w-100" style="height: 720px !important;">
            <div id="div_tab_conciliacao_composicao_benner_aud" class="col-md-12 w-100 h-100">

            </div>
        </div>

    </div>

</div>


{% include 'contabil_composicao_app/modais_frm_composicao.html' %}