{% load static %}

{% block link_static_css %}
    <link rel="stylesheet" href="{% static 'css/contabil_composicao_app/contabil_composicao_app.css' %}" />
{% endblock %}

<div class="d-flex flex-column h-100 align-items-center justify-content-start text-white w-100">
    <div class="mt-3 d-flex align-items-start justify-content-between div_Titulo">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-code-fork fa-2xl icon-color-e" alt="Conciliação Composição x Benner(Detalhado)"></i>
            <h1 class=" titlePadraoMenu">{{desc_menu}}</h1>
        </div>
        {% if obj_usuario_logado.cod_filial.cod_empresa.cod_empresa == 12 %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-branca.png' %}" >
        {% else %}
            <img class="logo_cabecalho" src="{% static 'icons/logo-small-deep.png' %}" >
        {% endif %}
    </div>


    <div class="containerApp">

        <form id="frm_conciliacao_com_benner" name="frm_conciliacao_com_benner"
              class="d-flex flex-column align-items-center justify-content-between cl_frm_conciliacao_com_benner"
              method="POST">
            <input type="hidden" id="hd_tipo_rel" value="D">
            <div class="d-flex justify-content-between align-items-between w-100">
                <hr class="hr_title">
            </div>

            <div class="d-flex justify-content-between align-items-between w-100 mb-3">
                    <div class="d-flex flex-column w-100 align-items-start" style="margin-right: 0.25rem;padding-right:0.25rem;">
                        <label for="cb_resp_contas_comp_detalhado">
                            Responsáveis contas
                            <button type='button' id="btn_marcar_resp_contas_comp_detalhado"
                                    name="btn_marcar_resp_contas_comp_detalhado"
                                    class="btn btn-rounded btn-space"
                                    title="Selecionar todos os responsáveis"
                                    style="width: 50px;">
                                <i class="fa-regular fa-square-check icon-color-e" ></i>
                            </button>
                            <button type='button' id="btn_desmarcar_resp_contas_comp_detalhado"
                                    name="btn_desmarcar_resp_contas_comp_detalhado"
                                    class="btn btn-rounded btn-space"
                                    title="Limpar seleção"
                                    style="width: 50px;">
                                <i class="fa-regular fa-square icon-color-e"></i>
                            </button>
                        </label>
                        <select class="selectpicker form-control cl_cb_contas" id="cb_resp_contas_comp_detalhado"
                                name="cb_resp_contas_comp_detalhado"
                                style="color: #999999; font-size: 20px; height: 54.65px"
                                multiple data-selected-text-format="count > 0"
                                data-live-search="true" title="Selecione um responsável das contas">
                            {% for usu in lista_usuarios_contabil %}
                                <option value="{{usu.nome_usu}}" selected>
                                    Contas de : {{ usu.nome_usu }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex flex-column w-100 align-items-start" style="padding-right:0.25rem;margin-right: 0.25rem;">
                        <label for="cb_pac_contas_comp_detalhado">
                            Pacotes
                            <button type='button' id="btn_marcar_pac_contas_comp_detalhado"
                                    name="btn_marcar_pac_contas_comp_detalhado"
                                    class="btn btn-rounded btn-space"
                                    title="Selecionar todos os responsáveis"
                                    style="width: 50px;">
                                <i class="fa-regular fa-square-check icon-color-e"></i>
                            </button>
                            <button type='button' id="btn_desmarcar_pac_contas_comp_detalhado"
                                    name="btn_desmarcar_pac_contas_comp_detalhado"
                                    class="btn btn-rounded btn-space"
                                    title="Limpar seleção"
                                    style="width: 50px;">
                                <i class="fa-regular fa-square icon-color-e"></i>
                            </button>
                        </label>
                        <select class="selectpicker form-control cl_cb_contas" id="cb_pac_contas_comp_detalhado"
                                name="cb_pac_contas_comp_detalhado"
                                style="color: #999999; font-size: 20px; height: 54.65px"
                                multiple data-selected-text-format="count > 0"
                                data-live-search="true" title="Selecione um responsável das contas">
                            {% for pac in lista_pacotes %}
                                <option value="{{pac.cod_pacote_conta}}" selected>
                                    {{ pac.desc_pacote_conta }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="d-flex flex-column w-100 align-items-between">
                        <fieldset>
                        <legend style="font-size: 1.05rem;">Modelo</legend>
                        <div class="form-check-inline" style="font-size: 1.25rem;">
                            <label class="form-check-label">
                                <input type="radio" name="rd_modelo_conta_conc_comp_benner" class="form-check-input"
                                   id="rd_modelo_conta_conc_comp_benner_1">
                                Modelo 1
                            </label>
                        </div>

                        <div class="form-check-inline" style="font-size: 1.25rem;">
                            <label class="form-check-label">
                                <input type="radio" name="rd_modelo_conta_conc_comp_benner" class="form-check-input"
                                   id="rd_modelo_conta_conc_comp_benner_2">
                                Modelo 2
                            </label>
                        </div>

                        <div class="form-check-inline" style="font-size: 1.25rem;">
                            <label class="form-check-label">
                                <input type="radio" name="rd_modelo_conta_conc_comp_benner" class="form-check-input"
                                   id="rd_modelo_conta_conc_comp_benner_3">
                                Modelo 3
                            </label>
                        </div>
                    </fieldset>
                    </div>
                </div>

            <div class="d-flex justify-content-between align-items-between w-100">
                <hr class="hr_title">
            </div>

            <div class="d-flex justify-content-between align-items-between w-100 mb-3">

                <div class="d-flex flex-column w-100 align-items-start" style="padding-right:0.25rem;">
                    <label>
                        Contas
                        <button type='button' id="btn_marcar_contas_comp_benner"
                                name="btn_marcar_contas_comp_benner"
                                class="btn btn-rounded btn-space"
                                title="Selecionar todos os projetos"
                                style="width: 50px;">
                            <i class="fa-regular fa-square-check icon-color-e" ></i>
                        </button>
                        <button type='button' id="btn_desmarcar_contas_comp_benner"
                                name="btn_desmarcar_contas_comp_benner"
                                class="btn btn-rounded btn-space"
                                title="Limpar seleção"
                                style="width: 50px;">
                            <i class="fa-regular fa-square icon-color-e" ></i>
                        </button>
                    </label>
                    <select class="selectpicker form-control" id="cb_contas_conciliacao_comp_benner"
                            name="cb_contas_conciliacao_comp_benner"
                            style="color: #999999; font-size: 20px; height: 54.65px"
                            multiple data-selected-text-format="count > 0"
                            data-live-search="true"
                            title="Selecione o tipo de modelo das contas">

                    </select>

                </div>

                <div class="d-flex flex-column w-100 cl_div_competencia_conciliacao_detalhada">
                    <label>
                        Competência
                        <input type="month" class="form-control" id="dt_conciliacao_comp_benner" required>
                    </label>

                </div>

                <div class="d-flex flex-column w-100 cl_div_competencia_conciliacao_detalhada">
                    <label>
                        Status análise
                    </label>
                    <select class="selectpicker form-control" id="cb_status_analise_conciliacao_detalhada"
                        name="cb_status_analise_conciliacao_detalhada">
                            <option value="0">Todos os status</option>
                            <option value="1">OK</option>
                            <option value="2">Com diferença</option>
                            <option value="3">Falta analisar</option>
                            <option value="4">Falta compor</option>
                            <option value="5">Não sinalizado</option>
                    </select>
                </div>
            </div>

            <div class="d-flex justify-content-between align-items-between w-100 mb-4">
                <div class="d-flex flex-column w-100">
                    <div class="loader" id="loader_gera_comp_det">
                    <div class="loader-inner">
                        <div class="loader-block"></div>
                        <div class="loader-block"></div>
                        <div class="loader-block"></div>
                        <div class="loader-block"></div>
                        <div class="loader-block"></div>
                        <div class="loader-block"></div>
                        <div class="loader-block"></div>
                        <div class="loader-block"></div>
                    </div>
                </div>
                </div>
                <div class="d-flex flex-column w-100">
                </div>
                <div class="d-flex flex-column w-100">
                </div>
                <div class="d-flex flex-column w-100">
                    <button type='button' id="btn_gera_conciliacao_comp_benner_detalhado"
                            name="btn_gera_conciliacao_comp_benner_detalhado"
                            class="mr-2 btn btn-primary btn-rounded cl_btn_conciliacao_comp_benner_detalhado" >
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <span>Gerar</span>
                    </button>
                </div>
            </div>

            <div class="d-flex align-items-start w-100">
                *Pesquise e selecione as contas a baixo para registro em lote.
            </div>


            <div class="d-flex justify-content-between align-items-between w-100 mb-2">
                <div class="d-flex flex-column w-100">
                    <div class="d-flex w-100"
                         style="border-radius: 0.5rem; box-shadow: 2px 2px 2px 1px rgba(204, 204, 206, 1); padding: 0.5rem;">

                        <div class="d-flex justify-content-between align-items-between w-100 mb-3">
                            <div class="d-flex flex-column w-100 align-items-start" style="padding: 0.25rem;">
                                <label for="sl_status_conciliacao_lote_contas" style="font-size: 10px">Status composição</label>
                                <select class="form-select form-select-sm" id="sl_status_conciliacao_lote_contas"
                                        name="sl_status_conciliacao_lote_contas">
                                        <option value="0">Selecione o status</option>
                                        <option value="1">OK</option>
                                        <option value="2">Com diferença</option>
                                        <option value="3">Falta analisar</option>
                                        <option value="4">Falta compor</option>
                                </select>
                            </div>
                            <div class="d-flex flex-column w-100 align-items-start" style="padding: 0.25rem;">
                                <label for="ta_obs_status_conciliacao_lote_contas" style="font-size: 10px">Justificativa</label>
                                <input type="text" class="form-control" id="ta_obs_status_conciliacao_lote_contas"
                                        style="color: #000000; font-size: 11px;text-align: left;white-space: nowrap;width: 100%; height:70px;"
                                        name="ta_obs_status_conciliacao_lote_contas"
                                        autocomplete="off" placeholder="Observação" rows="3">
                            </div>
                            <div class="d-flex flex-column w-100" style="padding: 0.25rem; margin-top: 0.9rem;">
                                <button type='button' id="btn_confirma_status_lote_contas"
                                        name="btn_confirma_status_lote_contas"
                                        class="mr-2 btn btn-primary btn-rounded cl_btn_conciliacao_comp_benner_detalhado"
                                        style="font-size: 10px">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <span>Confirmar Status</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column w-100">
                    &nbsp;&nbsp;
                </div>
            </div>

        </form>

        <div class="form-group cl_div_tabela_principal_pagina w-100">
            <div id="div_tab_conciliacao_composicao_benner_detalhado" class="col-md-12 w-100 h-100">

            </div>
        </div>

    </div>

</div>

{% include 'contabil_composicao_app/modais_frm_composicao.html' %}

<!--

<script src="{% static 'libs/popper/popper.min.js' %}"></script>
<script src="{% static 'libs/bootstrap_4/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'controllers/contabil_composicao_app/form_cad_contas_controller.js' %}"></script> -->