{% load static %}

<div class="d-flex flex-column align-items-between justify-content-between ml-2 w-100 accordion" id="acc_contratos"
     style="background-color: #fffff0;color: #363636 !important;">
{% for ctr in lista_contratos %}
    <div class="d-flex flex-column align-items-start justify-content-start ml-2 w-100 accordion-item">
        <h2 class="d-flex flex-column align-items-start justify-content-start w-100 accordion-header" id="heading_{{ctr.handle_fn_doc}}">
            <button class="accordion-button collapsed d-flex justify-content-between" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapse_{{ctr.handle_fn_doc}}"
                aria-expanded="false" aria-controls="collapse_{{ctr.handle_fn_doc}}" style="font-size:12px; background: #fffff0;">

                <div class="d-flex flex-column align-items-start justify-content-start w-100" style="font-size:12px;">
                    <div class="d-flex align-items-start justify-content-center w-100 p-2"
                         style="background-color: var(--cor_empresa) !important;color:#000000;border-radius: 0.3rem 0.3rem 0rem 0rem;">
                        <div class="d-flex flex-column align-items-start justify-content-start w-100">
                            <div>
                                <i class="fa-solid fa-handshake" style="color: #000000 !important;"></i>
                                <strong>Contrato</strong>
                            </div>
                            <span style="font-weight: 500;">{{ctr.num_contrato}}</span>
                        </div>
                        <div class="d-flex flex-column align-items-start justify-content-center w-100">
                            <strong>Empresa</strong>
                            <span style="font-weight: 500;">{{ctr.nome_empresa}}</span>
                        </div>
                        <div class="d-flex flex-column align-items-start justify-content-center w-100">
                            <strong>Data emissão</strong>
                            <span style="font-weight: 500;">{{ctr.data_emissao_contrato}}</span>
                        </div>
                        <div class="d-flex flex-column align-items-start justify-content-center w-100">
                            <strong>Doc. Contábil</strong>
                            <span style="font-weight: 500;">{{ctr.doc_contabil}}</span>
                        </div>
                        <div class="d-flex flex-column align-items-start justify-content-center w-100" id="div_status_atualiza_benner">
                            <strong>Atualiza com o Benner ?</strong>
                            <span style="font-weight: 500;">{{ctr.atualiza_benner}}</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-start w-100 p-2" >
                        <div class="d-flex align-items-center justify-content-start w-100">
                            <strong>Produto:&nbsp;&nbsp;</strong>
                            <span style="font-weight: 500;">{{ctr.fornecedor}}</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-start w-100" style="padding-left: .5rem;">
                            <strong>Operação:&nbsp;&nbsp;</strong>
                            <span style="font-weight: 500;">{{ctr.nome_operacao}}</span>
                        </div>

                    </div>

                    <div class="d-flex align-items-center justify-content-start w-100 p-2" >
                        <div class="d-flex flex-column align-items-center justify-content-start w-100 m-1"
                             style="background-color: rgba(244, 100, 36, .3);border-radius: .5rem;">
                            <div class="d-flex justify-content-between align-items-between mt-1 w-100"
                                 style="padding-left: .5rem; padding-right: .5rem;">
                                <i class="fa-solid fa-arrow-right-to-bracket" ></i>
                                <span style="font-weight: 700;">CONTA EM CURTO PRAZO</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-between w-100" style="padding-left: .5rem; padding-right: .5rem;">
                                <hr style="color: #000000; border-top: 1px solid black; background-color: rgba(33, 37, 41, 0.9);
                                        width: 100%; margin-top: .25rem;margin-bottom: .25rem;">
                            </div>

                            <div class="d-flex justify-content-between align-items-between w-100">
                                <div class="d-flex flex-column align-items-start w-100 p-1">
                                    &nbsp;
                                </div>

                                <div class="d-flex flex-column align-items-end justify-content-center w-100 p-1"
                                     style="margin-left: 0.25rem; margin-right: 0.25rem;">
                                    <strong>Val. total líq.</strong>
                                    <span style="font-weight: 500;">{{ctr.val_tt_liq_cp}}</span>
                                </div>

                                <div class="d-flex flex-column align-items-end justify-content-center w-100 p-1">
                                    <strong>Val. total</strong>
                                    <span style="font-weight: 500;">{{ctr.val_tt_contrato_reajustado_cp}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column align-items-center justify-content-start w-100 m-1"
                             style="background-color: rgba(244, 100, 36, .3);border-radius: .5rem;">
                            <div class="d-flex justify-content-between align-items-between mt-1 w-100"
                                 style="padding-left: .5rem; padding-right: .5rem;">
                                <i class="fa-solid fa-arrow-right-to-bracket" ></i>
                                <span style="font-weight: 700;">CONTA EM LONGO PRAZO</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-between w-100" style="padding-left: .5rem; padding-right: .5rem;">
                                <hr style="color: #000000; border-top: 1px solid black; background-color: rgba(33, 37, 41, 0.9);
                                        width: 100%;margin-top: .25rem;margin-bottom: .25rem;">
                            </div>
                            <div class="d-flex justify-content-between align-items-between w-100">
                                <div class="d-flex flex-column align-items-start w-100 p-1">
                                    &nbsp;
                                </div>

                                <div class="d-flex flex-column align-items-end justify-content-center w-100 p-1"
                                     style="margin-left: 0.25rem; margin-right: 0.25rem;">
                                    <strong>Val. total líq.</strong>
                                    <span style="font-weight: 500;">{{ctr.val_tt_liq_lp}}</span>

                                </div>

                                <div class="d-flex flex-column align-items-end justify-content-center w-100 p-1">
                                    <strong>Val. total</strong>
                                    <span style="font-weight: 500;">{{ctr.val_tt_contrato_reajustado_lp}}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex justify-content-between align-items-between w-100 mt-1 p-1"
                         style="background-color: var(--cor_empresa) !important;color:#FFFFFF; padding-left: .5rem; padding-right: .5rem;">
                            <i class="fa-solid fa-circle-info" style="color: #FFFFFF !important;"></i>
                            <strong>INFO TOTAIS CONTA</strong>
                    </div>
                    <div class="d-flex justify-content-between align-items-between w-100"
                         style="padding-left: .5rem; padding-right: .5rem;background-color: var(--cor_empresa) !important;">
                        <hr style="color: #000000; border-top: 1px solid white; background-color: var(--cor_empresa);
                                width: 100%; margin-top: .25rem;margin-bottom: .25rem;">
                    </div>
                    <div class="d-flex align-items-start justify-content-center w-100 p-2" style="background-color: var(--cor_empresa) !important; color:#FFFFFF;" >
                        <div class="d-flex flex-column align-items-end justify-content-start w-100">
                            <strong>Valor Total Líquido</strong>
                            <span style="font-weight: 500;">{{ctr.val_liquido}}</span>
                        </div>
                        <div class="d-flex flex-column align-items-end justify-content-start w-100">
                            <strong>Valor Total Reajustado</strong>
                            <span style="font-weight: 500;">{{ctr.val_tt_contrato_reajustado}}</span>
                        </div>
                        <div class="d-flex flex-column align-items-end justify-content-start w-100">
                            <strong>Total Liquidado</strong>
                            <span style="font-weight: 500;">{{ctr.total_pago}}</span>
                        </div>
                        <div class="d-flex flex-column align-items-end justify-content-start w-100">
                            <strong>Próxima parcela</strong>
                            <span style="font-weight: 500;">{{ctr.proxima_parc_pendente}}</span>
                        </div>
                        <div class="d-flex flex-column align-items-end justify-content-start w-100">
                            <strong>Venc. próxima parcela</strong>
                            <span style="font-weight: 500;">{{ctr.data_venc_proxima_parc_pendente}}</span>
                        </div>
                        <div class="d-flex flex-column align-items-end justify-content-start w-100">
                            <strong>Valor próxima parcela</strong>
                            <span style="font-weight: 500;">{{ctr.val_proxima_parc_pendente}}</span>
                        </div>
                    </div>


                </div>

            </button>
        </h2>

        <div id="collapse_{{ctr.handle_fn_doc}}" class="accordion-collapse collapse"
             aria-labelledby="heading_{{ctr.handle_fn_doc}}" data-bs-parent="#acc_contratos">

            <div class="accordion-body">
                <div class="d-flex justify-content-between align-items-between w-100 p-1">
                    <div class="d-flex flex-column align-items-arround justify-content-between w-100"
                         style="padding-left: .5rem; padding-right: .5rem;">
                        {% if obj_usuario_sessao.corporativo == 'S' %}
                            <button type='button' id="btn_excluir_contrato_{{ctr.cod_contrato}}"
                                    name="btn_excluir_contrato"
                                    class="mr-2 btn btn-primary btn-rounded cl_btn_excluir_contrato"
                                    value="{{ctr.cod_contrato}}">
                                <i class="fa-solid fa-trash"></i>
                                <span>Excluir contrato</span>
                            </button>
                        {% endif %}
                        {% if obj_usuario_sessao.corporativo == 'N' %}
                        <button type='button' id="btn_excluir_contrato_{{ctr.cod_contrato}}"
                                name="btn_renegociar_contrato"
                                class="mr-2 btn btn-primary btn-rounded cl_btn_excluir_contrato"
                                value="{{ctr.cod_contrato}}" disabled>
                            <i class="fa-solid fa-trash"></i>
                            <span>Excluir contrato</span>
                        </button>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column align-items-arround justify-content-between w-100"
                         style="padding-left: .5rem; padding-right: .5rem;">
                        {% if obj_usuario_sessao.corporativo == 'S' %}
                            <button type='button' id="btn_abre_modal_renegociacao_contrato_{{ctr.cod_contrato}}"
                                    name="btn_abre_modal_renegociacao_contrato"
                                    class="mr-2 btn btn-primary btn-rounded cl_btn_excluir_contrato"
                                    value="{{ctr.cod_contrato}}" >
                                <i class="fa-solid fa-handshake"></i>
                                <span>Contrato renegociado</span>
                            </button>
                        {% endif %}
                        {% if obj_usuario_sessao.corporativo == 'N' %}
                            <button type='button' id="btn_abre_modal_renegociacao_contrato_{{ctr.cod_contrato}}"
                                    name="modal_renegociacao_contrato"
                                    class="mr-2 btn btn-primary btn-rounded cl_btn_excluir_contrato"
                                    value="{{ctr.cod_contrato}}" disabled >
                                <i class="fa-solid fa-handshake"></i>
                                <span>Contrato renegociado<</span>
                            </button>
                        </button>
                        {% endif %}

                    </div>
                    <div class="d-flex flex-column w-100">
                        &nbsp;
                    </div>
                    <div class="d-flex flex-column w-100">
                        &nbsp;
                    </div>
                    <div class="d-flex flex-column align-items-center justify-content-between w-100"
                         style="padding-left: .5rem; padding-right: .5rem;">
                        {% if obj_usuario_sessao.corporativo == 'S' %}
                            <label for="chk_atualiza_dados_benner_contrato_{{ctr.cod_contrato}}"
                                   style="color: #000000;font-weight: 500;">
                                Atualiza com o Benner ?
                            </label>
                            {% if ctr.atualiza_benner == 'SIM' %}
                            <input type="checkbox" checked="checked" class="checkbox"
                               name="chk_atualiza_dados_benner_contrato"
                               id="chk_atualiza_dados_benner_contrato_{{ctr.cod_contrato}}">
                            {% endif %}
                            {% if ctr.atualiza_benner == 'NÃO' %}
                            <input type="checkbox" class="checkbox"
                               name="chk_atualiza_dados_benner_contrato"
                               id="chk_atualiza_dados_benner_contrato_{{ctr.cod_contrato}}">
                            {% endif %}
                        {% endif %}
                    </div>

                </div>
                <div class="d-flex justify-content-between align-items-between w-100 cl_div_tabela_principal_pagina">
                <table id="tab_parcelas_contrato"
                        class="display wrap w-100 cl_tab_principal_pagina">
                    <thead>
                        <tr>
                            <th scope="col" style="color: grey">Pagamento</th>
                            <th scope="col" style="color: grey">Vencimento</th>
                            <th scope="col" style="color: grey">Parcela</th>
                            <th scope="col" style="color: grey">Prazo</th>
                            <th scope="col" style="color: grey">AP</th>
                            <th scope="col" style="color: grey">R$ Parcela</th>
                            <th scope="col" style="color: grey">R$ Principal</th>
                            <th scope="col" style="color: grey">R$ Taxas</th>
                            <th scope="col" style="color: grey">R$ Fundo</th>
                            <th scope="col" style="color: grey">R$ Total</th>
                            <th scope="col" style="color: grey">R$ Pago</th>
                            <th scope="col" style="color: grey">R$ Balancete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for parc in ctr.lista_parcelas_contrato %}
                        <tr>
                            <td>
                                {% if parc.tipo_prazo == 'RN' %}
                                    &nbsp;&nbsp;
                                    <i class="fa-solid fa-handshake fa-1xl icon-color-e" title="{{parc.obs_parcela}}"></i>
                                    &nbsp;&nbsp;&nbsp;

                                {% endif %}
                                {% if parc.tipo_prazo == 'CP' or parc.tipo_prazo == 'LP' %}
                                    {% if obj_usuario_sessao.corporativo == 'S' %}
                                        <button type='button' name='btn_liquidar_parcela'
                                                id='btn_liquidar_parcela_{{parc.handle_parc}}'
                                                class='btn btn-rounded btn-space'
                                                value='{{parc.handle_parc}}'>
                                            <i class="fa-solid fa-receipt icon-color-e"
                                               title="Liquidar"></i>
                                        </button>
                                    {% endif %}
                                    {% if obj_usuario_sessao.corporativo == 'N' %}
                                        <button type='button' name='btn_liquidar_parcela'
                                                id='btn_liquidar_parcela_{{parc.handle_parc}}'
                                                class='btn btn-rounded btn-space'
                                                value='{{parc.handle_parc}}' disabled>
                                            <i class="fa-solid fa-receipt icon-color-e"
                                               title="Liquidar"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                                {% if parc.tipo_prazo == 'PG' %}
                                    {% if obj_usuario_sessao.corporativo == 'S' %}
                                        <button type='button' name='btn_abre_modal_estornar_parc_ctr_contas_m3'
                                                id='btn_abre_modal_estornar_parc_ctr_contas_m3_{{parc.handle_parc}}'
                                                class='btn btn-rounded btn-space'
                                                value='{{parc.handle_parc}}'>
                                            <i class="fa-solid fa-receipt" style="color: #3CB371;"
                                               title="Estornar Pagamento"></i>
                                        </button>
                                    {% endif %}
                                    {% if obj_usuario_sessao.corporativo == 'N' %}
                                        <button type='button' name='btn_abre_modal_estornar_parc_ctr_contas_m3'
                                                id='btn_abre_modal_estornar_parc_ctr_contas_m3_{{parc.handle_parc}}'
                                                class='btn btn-rounded btn-space'
                                                value='{{parc.handle_parc}}' disabled>
                                            <i class="fa-solid fa-receipt" style="color: #3CB371;"
                                               title="Estornar Pagamento"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                                {% if parc.tipo_prazo == 'CP' or parc.tipo_prazo == 'LP'  %}
                                    {% if obj_usuario_sessao.corporativo == 'S' %}
                                        <input class="input_plan_parcelas" type="date" id="dt_data_pag_parc_{{parc.handle_parc}}">
                                    {% endif %}
                                    {% if obj_usuario_sessao.corporativo == 'N' %}
                                        <input class="input_plan_parcelas" type="date" id="dt_data_pag_parc_{{parc.handle_parc}}" readonly>
                                    {% endif %}
                                {% endif %}
                                {% if parc.tipo_prazo == 'RN' or parc.tipo_prazo == 'PG' %}
                                    <input class="input_plan_parcelas" type="date" id="dt_data_pag_parc_{{parc.handle_parc}}"
                                           readonly value="{{parc.data_liquidacao}}"> <br/>
                                    <span style="color: #fffff0 !important;">{{parc.data_liquidacao}}</span>
                                {% endif %}

                            </td>
                            <td style="color: #363636!important; font-weight: 500;">
                                {{parc.data_vencimento}}
                            </td>
                            <td style="color: #363636!important; font-weight: 500;">
                                {{ parc.ordem_parcela }}
                            </td>
                            <td style="color: #363636!important; font-weight: 500;">
                                {{ parc.tipo_prazo }}
                            </td>
                            <td style="color: #363636!important; font-weight: 500;">
                                {{ parc.ap_parcela }}
                            </td>
                            <td>
                                {% if parc.tipo_prazo == 'CP' or parc.tipo_prazo == 'LP' %}
                                    {% if obj_usuario_sessao.corporativo == 'S' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_conta_{{parc.handle_parc}}"
                                               name="txt_val_conta" value="{{parc.valor_conta}}"
                                               style="width: 87.2px;text-align:right;">
                                    {% endif %}
                                    {% if obj_usuario_sessao.corporativo == 'N' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_conta_{{parc.handle_parc}}"
                                               name="txt_val_conta" value="{{parc.valor_conta}}"
                                               style="width: 87.2px;text-align:right;" readonly>
                                    {% endif %}
                                {% endif %}
                                {% if parc.tipo_prazo == 'RN' or parc.tipo_prazo == 'PG' %}
                                    <input class="input_plan_parcelas"
                                           type="text" id="txt_val_conta_{{parc.handle_parc}}" readonly
                                           name="txt_val_conta" value="{{parc.valor_conta}}"
                                           style="width: 87.2px;text-align:right;">
                                {% endif %}
                                <br/>
                                <span style="color: #fffff0 !important;">{{parc.valor_conta}}</span>

                            </td>
                            <td>
                                {% if parc.tipo_prazo == 'CP' or parc.tipo_prazo == 'LP'  %}
                                    {% if obj_usuario_sessao.corporativo == 'S' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_principal_{{parc.handle_parc}}"
                                               name="txt_val_principal" value="{{parc.valor_principal}}"
                                               style="width: 87.2px;text-align:right;">
                                    {% endif %}
                                    {% if obj_usuario_sessao.corporativo == 'N' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_principal_{{parc.handle_parc}}"
                                               name="txt_val_principal" value="{{parc.valor_principal}}"
                                               style="width: 87.2px;text-align:right;" readonly>
                                    {% endif %}
                                {% endif %}
                                {% if parc.tipo_prazo == 'RN' or parc.tipo_prazo == 'PG' %}
                                    <input class="input_plan_parcelas"
                                           type="text" id="txt_val_principal_{{parc.handle_parc}}"   readonly
                                           name="txt_val_principal" value="{{parc.valor_principal}}"
                                           style="width: 87.2px;text-align:right;">

                                {% endif %}
                                <br/>
                                <span style="color: #fffff0 !important;">{{parc.valor_principal}}</span>
                            </td>
                            <td>
                                {% if parc.tipo_prazo == 'CP' or parc.tipo_prazo == 'LP'  %}
                                    {% if obj_usuario_sessao.corporativo == 'S' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_taxas_{{parc.handle_parc}}"
                                               name="txt_val_taxas" value="{{parc.valor_taxas}}"
                                               style="width: 87.2px;text-align:right;">
                                    {% endif %}
                                    {% if obj_usuario_sessao.corporativo == 'N' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_taxas_{{parc.handle_parc}}"
                                               name="txt_val_taxas" value="{{parc.valor_taxas}}"
                                               style="width: 87.2px;text-align:right;" readonly>
                                    {% endif %}
                                {% endif %}
                                {% if parc.tipo_prazo == 'RN' or parc.tipo_prazo == 'PG' %}
                                    <input class="input_plan_parcelas"
                                           type="text" id="txt_val_taxas_{{parc.handle_parc}}" readonly
                                           name="txt_val_taxas" value="{{parc.valor_taxas}}"
                                           style="width: 87.2px;text-align:right;">
                                {% endif %}
                                <br/>
                                <span style="color: #fffff0 !important;">{{parc.valor_taxas}}</span>
                            </td>
                            <td>
                                {% if parc.tipo_prazo == 'CP' or parc.tipo_prazo == 'LP'  %}
                                    {% if obj_usuario_sessao.corporativo == 'S' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_fundo_{{parc.handle_parc}}"
                                               name="txt_val_fundo" value="{{parc.valor_fundo}}"
                                               style="width: 87.2px;text-align:right;">
                                    {% endif %}
                                    {% if obj_usuario_sessao.corporativo == 'N' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_fundo_{{parc.handle_parc}}"
                                               name="txt_val_fundo" value="{{parc.valor_fundo}}"
                                               style="width: 87.2px;text-align:right;" readonly>
                                    {% endif %}
                                {% endif %}
                                {% if parc.tipo_prazo == 'RN' or parc.tipo_prazo == 'PG' %}
                                    <input class="input_plan_parcelas"
                                           type="text" id="txt_val_fundo_{{parc.handle_parc}}" readonly
                                           name="txt_val_fundo" value="{{parc.valor_fundo}}"
                                           style="width: 87.2px;text-align:right;">
                                {% endif %}
                                <br/>
                                <span style="color: #fffff0 !important;">{{parc.valor_fundo}}</span>
                            </td>
                            <td id="td_val_total_{{parc.handle_parc}}" style="color: #363636!important; font-weight: 500;">
                                {{parc.valor_total}}
                            </td>
                            <td>
                                {% if parc.tipo_prazo == 'CP' or parc.tipo_prazo == 'LP'  %}
                                    {% if obj_usuario_sessao.corporativo == 'S' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_pag_parc_{{parc.handle_parc}}"
                                               value="{{parc.val_total_pago}}"
                                               style="width: 87.2px;text-align:right;">
                                    {% endif %}
                                    {% if obj_usuario_sessao.corporativo == 'N' %}
                                        <input class="input_plan_parcelas"
                                               type="text" id="txt_val_pag_parc_{{parc.handle_parc}}"
                                               value="{{parc.val_total_pago}}"
                                               style="width: 87.2px;text-align:right;" readonly>
                                    {% endif %}
                                {% endif %}
                                {% if parc.tipo_prazo == 'RN' or parc.tipo_prazo == 'PG' %}
                                    <input class="input_plan_parcelas"
                                           type="text" id="txt_val_pag_parc_{{parc.handle_parc}}"
                                           readonly value="{{parc.val_total_pago}}"
                                           style="width: 87.2px;text-align:right;">

                                {% endif %}
                                <br/>
                                <span style="color: #fffff0 !important;">{{parc.val_total_pago}}</span>
                            </td>
                            <td style="color: #363636!important; font-weight: 500;">
                                {{ parc.val_balancete }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            </div>
        </div>
    </div>
{% endfor %}
</div>
