{% load static %}

<div class="d-flex justify-content-between align-items-between w-100 mb-4" >
    <div class="d-flex flex-column w-100">
        &nbsp;
    </div>
    <div class="d-flex flex-column w-100">
        &nbsp;
    </div>
    <div class="d-flex flex-column w-100">
        &nbsp;
    </div>
    <div class="d-flex flex-column w-100">
        {% if obj_usuario_sessao.corporativo == 'S' %}
            <button type="button" name="btn_abre_modal_exclui_arq_docs_m1"
                id="btn_abre_modal_exclui_arq_docs_m1_{{reg.cod_arq}}"
                class="mr-2 btn btn-primary btn-rounded cl_btn_excluir_contrato"
                value="{{cod_arq}}_{{cod_conta}}">
                <i class="fa-solid fa-trash-can"></i>
                <span>Excluir arquivo</span>
            </button>
        {% endif %}
        {% if obj_usuario_sessao.corporativo == 'N' %}
            <button type="button" name="btn_abre_modal_exclui_arq_docs_m1"
                id="btn_abre_modal_exclui_arq_docs_m1_{{reg.cod_arq}}"
                class="mr-2 btn btn-primary btn-rounded cl_btn_excluir_contrato"
                value="{{cod_arq}}_{{cod_conta}}" disabled>
                <i class="fa-solid fa-trash-can"></i>
                <span>Excluir arquivo</span>
            </button>
        {% endif %}
    </div>
</div>

<div id="div_tab_doc_contas_modelo_1" class="form-group  cl_div_tabela_principal_pagina w-100">
    {% if cod_pacote == 3 %} <!-- Pac Contas a Receber/Pagar -->
        <table id="tab_arq_pac_conta_pagar_receb_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col">Lançto</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Doc.</th>
                    <th scope="col">AP</th>
                    <th scope="col">Venc.</th>
                    <th scope="col">Par.</th>
                    <th scope="col">R$ Rel.</th>
                    <th scope="col">R$ Razão</th>
                    <th scope="col">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td>{{ doc.data_lancto }}</td>
                        <td>{{ doc.nome_fornecedor }}</td>
                        <td>{{ doc.num_doc }}</td>
                        <td>{{ doc.num_ap }}</td>
                        <td>{{ doc.data_venc }}</td>
                        <td>{{ doc.num_parc }}</td>
                        <td>{{ doc.val_rel }}</td>
                        <td>{{ doc.val_razao }}</td>
                        <td>{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_pagar_receber"
                                    id="btn_abre_modal_edita_doc_pac_pagar_receber_{{doc.cod_pac_doc_contas_pagar_receber}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_contas_pagar_receber}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_exclui_doc_pac_pagar_receber"
                                    id="btn_abre_modal_exclui_doc_pac_pagar_receber_{{doc.cod_pac_doc_contas_pagar_receber}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_contas_pagar_receber}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_exclui_doc_pac_pagar_receber"
                                    id="btn_abre_modal_exclui_doc_pac_pagar_receber_{{doc.cod_pac_doc_contas_pagar_receber}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_contas_pagar_receber}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cod_pacote == 4 %} <!-- Pac Estoque -->
        <table id="tab_arq_pac_estoque_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col">Almoxarifado</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Qtd.</th>
                    <th scope="col">R$ Custo Médio</th>
                    <th scope="col">R$ Rel.</th>
                    <th scope="col">R$ Razão</th>
                    <th scope="col">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td>{{ doc.nome_almoxarifado }}</td>
                        <td>{{ doc.desc_produto }}</td>
                        <td>{{ doc.qtd_prod }}</td>
                        <td>{{ doc.custo_medio }}</td>
                        <td>{{ doc.val_rel }}</td>
                        <td>{{ doc.val_razao }}</td>
                        <td>{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_estoque"
                                    id="btn_abre_modal_edita_doc_pac_estoque_{{doc.cod_pac_doc_estoque}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_estoque}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_exclui_doc_pac_estoque"
                                    id="btn_abre_modal_exclui_doc_pac_estoque_{{doc.cod_pac_doc_estoque}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_estoque}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_exclui_doc_pac_estoque"
                                    id="btn_abre_modal_exclui_doc_pac_estoque_{{doc.cod_pac_doc_estoque}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_estoque}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cod_pacote == 5 %} <!-- Pac Folha Pagamento -->
        <table id="tab_arq_pac_folha_pag_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Historico</th>
                    <th scope="col">Doc.</th>
                    <th scope="col">Contábil</th>
                    <th scope="col">Lançto</th>
                    <th scope="col">R$ Rel.</th>
                    <th scope="col">R$ Razão</th>
                    <th scope="col">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td>{{ doc.matricula }}</td>
                        <td>{{ doc.historico }}</td>
                        <td>{{ doc.num_doc }}</td>
                        <td>{{ doc.num_doc_contabil }}</td>
                        <td>{{ doc.data_lancto }}</td>
                        <td>{{ doc.val_rel }}</td>
                        <td>{{ doc.val_razao }}</td>
                        <td>{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_folha_pag"
                                    id="btn_abre_modal_edita_doc_pac_folha_pag_{{doc.cod_pac_doc_folha_pag}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_folha_pag}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_exclui_doc_pac_folha_pag"
                                    id="btn_abre_modal_exclui_doc_pac_folha_pag_{{doc.cod_pac_doc_folha_pag}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_folha_pag}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_exclui_doc_pac_folha_pag"
                                    id="btn_abre_modal_exclui_doc_pac_folha_pag_{{doc.cod_pac_doc_folha_pag}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_folha_pag}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cod_pacote == 6 %} <!-- Pac Contas Compensação -->
        <table id="tab_arq_pac_contas_comp_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Historico</th>
                    <th scope="col">Doc.</th>
                    <th scope="col">Contábil</th>
                    <th scope="col">Emissão</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">R$ Rel.</th>
                    <th scope="col">R$ Razão</th>
                    <th scope="col">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td>{{ doc.nome_fornecedor }}</td>
                        <td>{{ doc.historico }}</td>
                        <td>{{ doc.num_doc }}</td>
                        <td>{{ doc.num_doc_contabil }}</td>
                        <td>{{ doc.data_emissao }}</td>
                        <td>{{ doc.data_entrada }}</td>
                        <td>{{ doc.val_rel }}</td>
                        <td>{{ doc.val_razao }}</td>
                        <td>{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_compensacao"
                                    id="btn_abre_modal_edita_doc_pac_compensacao_{{doc.cod_pac_doc_contas_compensacao}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_contas_compensacao}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_compensacao"
                                    id="btn_abre_modal_excluir_doc_pac_compensacao_{{doc.cod_pac_doc_contas_compensacao}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_contas_compensacao}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_compensacao"
                                    id="btn_abre_modal_excluir_doc_pac_compensacao_{{doc.cod_pac_doc_contas_compensacao}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_contas_compensacao}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cod_pacote == 7 %} <!-- Pac Tributos -->
        <table id="tab_arq_pac_tributos_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col">Historico</th>
                    <th scope="col">Doc.</th>
                    <th scope="col">Contábil</th>
                    <th scope="col">Emissão</th>
                    <th scope="col">Entrada</th>
                    <th scope="col">R$ Rel.</th>
                    <th scope="col">R$ Razão</th>
                    <th scope="col">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td>{{ doc.nome_fornecedor }}</td>
                        <td>{{ doc.historico }}</td>
                        <td>{{ doc.num_doc }}</td>
                        <td>{{ doc.num_doc_contabil }}</td>
                        <td>{{ doc.data_emissao }}</td>
                        <td>{{ doc.data_entrada }}</td>
                        <td>{{ doc.val_rel }}</td>
                        <td>{{ doc.val_razao }}</td>
                        <td>{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_tributos"
                                    id="btn_abre_modal_edita_doc_pac_tributos_{{doc.cod_pac_doc_tributos}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_tributos}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_tributos"
                                    id="btn_abre_modal_excluir_doc_pac_tributos_{{doc.cod_pac_doc_tributos}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_tributos}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_tributos"
                                    id="btn_abre_modal_excluir_doc_pac_tributos_{{doc.cod_pac_doc_tributos}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_tributos}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cod_pacote == 9 %} <!-- Pac Financeiro disponibilidades -->
        <table id="tab_arq_pac_financ_disp_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col">Historico</th>
                    <th scope="col">Doc.</th>
                    <th scope="col">Lançto</th>
                    <th scope="col">R$ Rel.</th>
                    <th scope="col">R$ Razão</th>
                    <th scope="col">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td>{{ doc.historico }}</td>
                        <td>{{ doc.num_doc }}</td>
                        <td>{{ doc.data_lancto }}</td>
                        <td>{{ doc.val_rel }}</td>
                        <td>{{ doc.val_razao }}</td>
                        <td>{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_financ_disp"
                                    id="btn_abre_modal_edita_doc_pac_financ_disp_{{doc.cod_pac_doc_financ_disp}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_financ_disp}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_financ_disp"
                                    id="btn_abre_modal_excluir_doc_pac_financ_disp_{{doc.cod_pac_doc_financ_disp}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_financ_disp}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_financ_disp"
                                    id="btn_abre_modal_excluir_doc_pac_financ_disp_{{doc.cod_pac_doc_financ_disp}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_financ_disp}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cod_pacote == 10 %} <!-- Pac Intercompany -->
        <table id="tab_arq_pac_intercompany_disp_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col">Historico</th>
                    <th scope="col">Doc.</th>
                    <th scope="col">Lançto</th>
                    <th scope="col">R$ Rel.</th>
                    <th scope="col">R$ Razão</th>
                    <th scope="col">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td>{{ doc.historico }}</td>
                        <td>{{ doc.num_doc }}</td>
                        <td>{{ doc.data_lancto }}</td>
                        <td>{{ doc.val_rel }}</td>
                        <td>{{ doc.val_razao }}</td>
                        <td>{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_intercompany"
                                    id="btn_abre_modal_edita_doc_pac_intercompany_{{doc.cod_pac_doc_intercompany}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_intercompany}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_intercompany"
                                    id="btn_abre_modal_excluir_doc_pac_intercompany_{{doc.cod_pac_doc_intercompany}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_intercompany}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_intercompany"
                                    id="btn_abre_modal_excluir_doc_pac_intercompany_{{doc.cod_pac_doc_intercompany}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_intercompany}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cod_pacote == 11 %} <!-- Pac Imobilizado -->
        <table id="tab_arq_pac_imobilizado_disp_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col" title="Data entrada">Entrada</th>
                    <th scope="col" title="Descrição imobilizado">Imobilizado</th>
                    <th scope="col" title="Número documento">Doc.</th>
                    <th scope="col">Fornecedor</th>
                    <th scope="col" title="Depreciação acumulada">Dep. Acum.</th>
                    <th scope="col" title="Taxa depreciação">% Deprec.</th>
                    <th scope="col" title="Valor líquido R$">R$ Líq.</th>
                    <th scope="col" title="Valor relatório R$">R$ Rel.</th>
                    <th scope="col" title="Valor razão R$">R$ Razão</th>
                    <th scope="col" title="Valor diferença R$">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td title="Data entrada">{{ doc.data_entrada }}</td>
                        <td title="Descrição imobilizado">{{ doc.desc_imobilizado }}</td>
                        <td title="Número documento">{{ doc.num_doc }}</td>
                        <td>{{ doc.nome_fornecedor }}</td>
                        <td title="Depreciação acumulada">{{ doc.depreciacao_acum }}</td>
                        <td title="Taxa depreciação">{{ doc.taxa_depreciacao }}</td>
                        <td title="Valor líquido R$">{{ doc.val_liq }}</td>
                        <td title="Valor relatório R$">{{ doc.val_rel }}</td>
                        <td title="Valor razão R$">{{ doc.val_razao }}</td>
                        <td title="Valor diferença R$">{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_imobilizado"
                                    id="btn_abre_modal_edita_doc_pac_imobilizado_{{doc.cod_pac_doc_imobilizado}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_imobilizado}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_imobilizado"
                                    id="btn_abre_modal_excluir_doc_pac_imobilizado_{{doc.cod_pac_doc_imobilizado}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_imobilizado}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_imobilizado"
                                    id="btn_abre_modal_excluir_doc_pac_imobilizado_{{doc.cod_pac_doc_imobilizado}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_imobilizado}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cod_pacote == 13 %} <!-- Pac Consorcios ativos -->
        <table id="tab_arq_pac_consorcio_ativo_disp_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col">Histórico</th>
                    <th scope="col" title="Número documento">Doc.</th>
                    <th scope="col" title="Data Lançamento">Lançto</th>
                    <th scope="col" title="Valor relatório R$">R$ Rel.</th>
                    <th scope="col" title="Valor razão R$">R$ Razão</th>
                    <th scope="col" title="Valor diferença R$">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td>{{ doc.historico }}</td>
                        <td>{{ doc.num_doc }}</td>
                        <td>{{ doc.data_lancto }}</td>
                        <td>{{ doc.val_rel }}</td>
                        <td>{{ doc.val_razao }}</td>
                        <td>{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_consorc_atv"
                                    id="btn_abre_modal_edita_doc_pac_consorc_atv_{{doc.cod_pac_doc_consorcio_ativo}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_consorcio_ativo}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_consorcio_ativo"
                                    id="btn_abre_modal_excluir_doc_pac_consorcio_ativo_{{doc.cod_pac_doc_consorcio_ativo}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_consorcio_ativo}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_consorcio_ativo"
                                    id="btn_abre_modal_excluir_doc_pac_consorcio_ativo_{{doc.cod_pac_doc_consorcio_ativo}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_consorcio_ativo}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if cod_pacote == 14 %} <!-- Pac Demais contas -->
        <table id="tab_arq_pac_demais_contas_m1"  class="display wrap w-100 cl_tab_principal_pagina">
            <thead>
                <tr>
                    <th scope="col">Filial</th>
                    <th scope="col">Histórico</th>
                    <th scope="col" title="Número documento">Doc.</th>
                    <th scope="col" title="Número documento contábil">Doc. Cont.</th>
                    <th scope="col" title="Data Lançamento">Lançto</th>
                    <th scope="col" title="Valor relatório R$">R$ Rel.</th>
                    <th scope="col" title="Valor razão R$">R$ Razão</th>
                    <th scope="col" title="Valor diferença R$">R$ Dif.</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>
                  </tr>
            </thead>
            <tbody>
                {% for doc in lista_docs %}
                    <tr>
                        <td>{{ doc.cod_filial__desc_filial }}</td>
                        <td>{{ doc.historico }}</td>
                        <td>{{ doc.num_doc }}</td>
                        <td>{{ doc.num_doc_contabil }}</td>
                        <td>{{ doc.data_lancto }}</td>
                        <td>{{ doc.val_rel }}</td>
                        <td>{{ doc.val_razao }}</td>
                        <td>{{ doc.val_dif }}</td>
                        {% if doc.ativo == 'S' %}
                            <td>
                                <button type="button" name="btn_abre_modal_edita_doc_pac_demais_contas"
                                    id="btn_abre_modal_edita_doc_pac_demais_contas_{{doc.cod_pac_doc_outros}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_outros}}"
                                    title="{{doc.obs}}">
                                    <i class="fa-solid fa-pen-to-square" style="color: #f46424;"></i>
                                </button>
                            </td>
                            <td>
                                {% if obj_usuario_sessao.corporativo == 'S' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_demais_contas"
                                    id="btn_abre_modal_excluir_doc_pac_demais_contas_{{doc.cod_pac_doc_outros}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_outros}}"
                                    title="Excluir Registro">
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                                {% if obj_usuario_sessao.corporativo == 'N' %}
                                <button type="button" name="btn_abre_modal_excluir_doc_pac_demais_contas"
                                    id="btn_abre_modal_excluir_doc_pac_demais_contas_{{doc.cod_pac_doc_outros}}"
                                    class="btn btn-rounded btn-space"
                                    value="{{doc.cod_pac_doc_outros}}"
                                    title="Excluir Registro" disabled>
                                    <i class="fa-solid fa-trash-can" style="color: #f46424;"></i>
                                </button>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% if doc.ativo == 'N' %}
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                            <td><i class="fa-solid fa-ban" style="color: #f46424;" title="{{doc.obs}}"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>