{% load static %}

{% block link_static_css %}
    <link rel="stylesheet" href="{% static 'css/cores.css' %}" />
    <link rel="stylesheet" href="{% static 'css/toggle_switch.css' %}" />
    <link rel="stylesheet" href="{% static 'css/loader.css' %}" />
    <link rel="stylesheet" href="{% static 'css/safety_relatos_app/safety_relatos_app.css' %}" />

{% endblock %}

<div class="d-flex flex-column align-items-center justify-content-start text-white w-95" style="margin-right:0px;width:100%;height:100svh">
   <div class="d-flex align-items-end justify-content-between div_Titulo" style="padding-bottom:15px;width:100%;border-radius:0px;">
       <div class="d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-file-signature" style="font-size:50px; margin-left:0px; margin-right:15px; color:#cf6a15;"></i>
           <h1 class="titlePadraoMenu" style="margin-left:0px;">Registro de Ocorrências</h1>
       </div>
   </div>
    <div id="div_corpo_relatos" class="containerApp w-100 h-100" style="min-height:fit-content;">
        <div class="form-group form_div_check w-100 h-100" >
            <div class="col-md-12 w-100 h-100">
                <form class="h-100" id="form_preenche_check" name="form_preenche_check">
                    <div class="tab-content h-100" style="border-radius:0 0 10px 10px; font-size:15px;">
                        <div class="tab-pane active h-100" id="div_tab_new_check" role="tabpanel" aria-labelledby="a_tab_new_check">
                                <div class="h-100" style="text-align:left;flex-direction:column;justify-content:space-between;display:flex;">
                                    <div style="padding:15px;padding-right:30px;padding-left:30px">
                                        <div class="form-group">
                                           <label for="unidade"> Unidade: </label>
                                            <select class="selectpicker form-control responsive-font" id="unidade" name="unidade" placeholder="Selecione a unidade" data-live-search="true">
                                                {% autoescape off %}
                                                    {{options_select_unidade}}
                                                {% endautoescape %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                           <label for="tipo_relato">Negócio:</label>
                                           <select class="selectpicker form-control responsive-font" id="tipo_relato" name="tipo_relato" placeholder="Escolha o tipo">
                                               <option value="1">Passageiros</option>
                                               <option value="2">Celulose</option>
                                               <option value="3">Retroportuária</option>
                                               <option value="4">Armazém</option>
                                           </select>
                                        </div>
                                        <div class="form-group">
                                           <label for="tipo_relato">Tipo:</label>
                                           <select class="selectpicker form-control responsive-font" id="tipo_frota" name="tipo_frota" placeholder="Escolha o tipo">
                                               <option value="1">Próprio</option>
                                               <option value="2">Terceiro</option>
                                           </select>
                                        </div>
                                        <div class="form-group hidden-div">
                                            <label class="responsive-font" for="nome_empresa_envolvida">Nome da empresa envolvida:</label>
                                            <input type="text" class="form-control responsive-font" id="nome_empresa_envolvida" name="nome_empresa_envolvida">
                                        </div>
                                        <div class="form-group">
                                           <label for="tipo_relato">Turno:</label>
                                           <select class="selectpicker form-control responsive-font" id="sl_turno" name="sl_turno" placeholder="Selecione o turno">
                                               <option value="A">A</option>
                                               <option value="B">B</option>
                                               <option value="C">C</option>
                                               <option value="1">1</option>
                                               <option value="2">2</option>
                                               <option value="3">3</option>
                                           </select>
                                        </div>
                                        <div class="form-group">
                                           <label for="tipo_relato">Nexo:</label>
                                           <select class="selectpicker form-control responsive-font" id="sl_tipo_nexo" name="sl_tipo_nexo" placeholder="Selecione o tipo de nexo">
                                               <option value="1">Típico</option>
                                               <option value="2">Trajeto</option>
                                           </select>
                                        </div>
                                        <div class="form-group">
                                           <label for="tipo_relato">Local da ocorrência:</label>
                                           <select class="selectpicker form-control responsive-font" id="sl_local_ocorrencia" name="sl_local_ocorrencia" placeholder="Selecione o local da ocorrência">
                                               {% for ocor in list_itens_campo_local_ocorrencia%}
                                                <option value="{{ocor.cod_componente}}">{{ocor.desc_componente}}</option>
                                               {% endfor %}
                                           </select>
                                        </div>
                                        <div class="form-group hidden-div">
                                            <label class="responsive-font" for="desc_area">Área detalhada:</label>
                                            <input type="text" class="form-control responsive-font" id="desc_area" name="desc_area">
                                        </div>
                                        <div class="form-group">
                                           <label for="sl_atividade">Atividade:</label>
                                           <select class="selectpicker form-control responsive-font" id="sl_atividade" name="sl_atividade" placeholder="Selecione a atividade">
                                               {% for atv in list_itens_campo_atividade%}
                                                <option value="{{atv.cod_componente}}">{{atv.desc_componente}}</option>
                                               {% endfor %}
                                           </select>
                                        </div>
                                        <div class="form-group">
                                           <label for="sl_natureza">Natureza:</label>
                                           <select class="selectpicker form-control responsive-font" id="sl_natureza" name="sl_natureza" placeholder="Selecione a natureza">
                                               {% for nat in nat.cod_componente}}">{{nat.desc_componente}}</option>
                                               {% endfor %}
                                           </select>
                                        </div>
                                    </div>
                                    <div class="w-100" style="justify-content:space-between;display:flex;padding-right:1rem;padding-left:2rem;margin-top:2rem;margin-bottom:2rem;height:3rem">
                                        <button type="button" class="btn-voltar-menu-safety" style="border-style:none;background-color:rgba(0,0,0,0);height:fit-content">
                                            <div style="display:flex;flex-direction:column">
                                                <i class="fa-solid fa-arrow-left" style="color:#f46424;font-size:32px"></i>
                                                <b style="color:white;font-size:14px">Voltar</b>
                                            </div>
                                        </button>
                                        <button class="create-check-relatos" type="button" style="border-style:none;background-color:rgba(0,0,0,0);height:fit-content">
                                            <div style="display:flex;flex-direction:column">
                                                <i class="fa-solid fa-circle-plus" style="font-size:32px; margin-left:0px;color:#f46424;"></i>
                                                <b style="color:white;font-size:14px">Gerar check</b>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var flag_deep = null;
    if ("{{flag_deep}}" == "False") {
        console.log('sim');
        flag_deep = false;
    }
    else if ("{{flag_deep}}" == "True") {
        console.log('sim');
        flag_deep = true;
    }
</script>