

<!-- Modal edita  -->
<div id="modal_edita_dados_veic_tab" role="dialog" class="modal" style="z-index: 999999;">
    <div class="modal-dialog" style="max-width: 700px; width: 700px; height: 610px; border-radius: 10px;
        margin-left: 10%; margin-right: 30px; margin-top: 30px; margin-bottom: 30px;">
        <div class="modal-content">
            <div class="modal-header"
                 style="background-color:#f26522;height: 40px;padding-right: 5px;padding-bottom: 35px;
            padding-top: 10px;font-size:10px;">
                <div class="row" style="margin-left: 0px;margin-right: 0px;width: 700px;margin-top: 35px;" >
                    <div class="col-md-6" align="left">
                        <p>
                            <i class="fa-solid fa-pen-to-square fa-2xl" style="color: #FFFFFF;"></i>
                            <span style="color:#ffffff; font-size:15px">Dados tabela</span>
                        </p>
                    </div>
                    <div class="col-md-6" align="right">
                        <button type="button" name="btn_fecha_modal_edita_dados_veic_tab"
                                id="btn_fecha_modal_edita_dados_veic_tab"
                                class="btn btn-sm btn-rounded">
                            <i class="fa-solid fa-circle-xmark fa-2xl" style="color: #FFFFFF;"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="frm_modal_edita_dados_veic_tab" name="frm_modal_edita_dados_veic_tab"
                      class="d-flex flex-column align-items-center justify-content-between"
                      method="POST">



                    <div class="d-flex justify-content-between align-items-between w-100 mb-4"
                         style="font-size: 11px; color: #000000;">
                        <div id="div_placa" class="d-flex flex-column w-50 align-items-start" style="margin-right: 0.5rem;">
                        </div>
                        <div id="div_renavam" class="d-flex flex-column w-50 align-items-start" style="margin-right: 0.5rem;">
                        </div>
                        <div id="div_tipo_veic" class="d-flex flex-column w-100 align-items-start" style="margin-right: 0.5rem;">
                        </div>
                        <div id="div_ano_veic" class="d-flex flex-column w-50 align-items-start" style="margin-right: 0.5rem;">
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-between w-100 mb-4"
                         style="font-size: 11px; color: #000000;">
                        <div id="div_marca_benner" class="d-flex flex-column w-50 align-items-start" style="margin-right: 0.5rem;">
                        </div>
                        <div id="div_modelo_benner" class="d-flex flex-column w-50 align-items-start" style="margin-right: 0.5rem;">
                        </div>
                        <div id="div_filial" class="d-flex flex-column w-100 align-items-start" style="margin-right: 0.5rem;">
                        </div>
                        <div id="div_qtd_eixo" class="d-flex flex-column w-50 align-items-start" style="margin-right: 0.5rem;">
                        </div>
                    </div>


                    <div class="d-flex justify-content-between align-items-between w-100 mb-3">
                        <div class="d-flex flex-column w-100" style="margin-right: 0.25rem;">
                            <label style="color: #000000;">
                                Tipo veículo
                            </label>
                            <select class="selectpicker form-control" id="sl_tipo_veic_tab"
                                    name="sl_tipo_veic_tab"
                                    style="color: #999999; font-size: 20px; height: 54.65px"
                                    data-live-search="true">
                                {% for f in lista_filiais %}
                                    <option value={{f.cod_reduzido}}>{{f.desc_filial}} - Cód. Red.: {{ f.cod_reduzido }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="d-flex flex-column w-100" style="margin-right: 0.25rem;">
                            <label style="color: #000000;">
                                Marca
                            </label>
                            <select class="selectpicker form-control" id="sl_marca_veic_tab"
                                    name="sl_marca_veic_tab"
                                    style="color: #999999; font-size: 20px; height: 54.65px"
                                    data-live-search="true">
                                {% for m in lista_marcas %}
                                    <option value={{m.cod_marca_tab_fipe}}>{{m.desc_marca}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="d-flex flex-column w-100" style="margin-left: 0.25rem;">
                            <label style="color: #000000;">
                                Modelo
                            </label>
                            <select class="selectpicker form-control" id="sl_modelo_veic_tab"
                                    name="sl_modelo_veic_tab"
                                    style="color: #999999; font-size: 20px; height: 54.65px"
                                    data-live-search="true">
                            </select>
                        </div>


                    </div>

                    <div class="d-flex justify-content-between align-items-between w-100 mb-2">


                        <div class="d-flex flex-column w-100" style="margin-left: 0.25rem;">
                            <label style="color: #000000;">
                                Ano
                            </label>
                            <select class="selectpicker form-control" id="sl_ano_veic_tab"
                                    name="sl_ano_veic_tab"
                                    style="color: #999999; font-size: 20px; height: 54.65px"
                                    data-live-search="true">
                            </select>
                        </div>

                        <div class="d-flex flex-column w-100" style="margin-left: 0.25rem;">
                            <label for="txt_cod_modelo_veic_tab" style="color: #000000;">
                                Código modelo tabela
                            </label>
                            <input type="text" id="txt_cod_modelo_veic_tab" name="txt_cod_modelo_veic_tab"
                                   class="form-control" style="height: 37.6px;">
                        </div>
                    </div>


                    <div class="mt-3 d-flex justify-content-between align-items-between w-100 mb-2" >
                        <div class="d-flex flex-column w-100">
                            <div class="loader" id="loader_frm_vincula_veic_tab">
                                <div class="loader-inner">
                                    <div class="loader-block"></div>
                                    <div class="loader-block"></div>
                                    <div class="loader-block"></div>
                                    <div class="loader-block"></div>
                                    <div class="loader-block"></div>
                                    <div class="loader-block"></div>
                                    <div class="loader-block"></div>
                                    <div class="loader-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column w-100" style="margin-left: 0.25rem;">
                            <button type='button' id="btn_confirma_marca_modelo_tab"
                                    name="btn_confirma_marca_modelo_tab"
                                    class="btn btn-primary btn-rounded botaoPrincipal" >
                                <i class="fa-solid fa-check" style="color:#2E8B57;"></i>
                                Confirma
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>