{% extends 'base.html' %}
{% load static %}

{% block title %}
    Menu | Portal Operacional
{% endblock %}

{% block link_static_css %}
  <link rel="stylesheet" href="{% static 'css/menu_app/menu_app.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/perfil-dropdown.css' %}" />
  <!-- Bootstrap select picker -->
  <link rel="stylesheet" href="{% static 'libs/bootstrap_select_1_14_0/css/bootstrap-select.css' %}"/>

  <!-- Bibliotecas Table-->
  <link defer   rel="stylesheet" href="{% static 'libs/jquery_3_6_0/css/dataTables.min.css' %}"/>

  <link rel="stylesheet" href="{% static 'css/toggle_switch.css' %}" />
  <link rel="stylesheet" href="{% static 'css/loader.css' %}" />
{% endblock %}

{% block conteudo %}

  <div class="">
    <div class="barraLateral">
      <span>
        <a class="linkMenuLateral" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
           aria-controls="offcanvasExample">
          <img class="p-3 setaAbreMenuLateral" src="{% static 'icons/seta.png'%}" alt="Abrir menu"/>
        </a> 
      </span>
    </div>

    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel"
         style="width: 420.8px;">

      <div class="offcanvas-header justify-content-between" style="padding-top: 5px;padding-bottom: 5px">
        <div class="d-flex align-items-center">
          <div class="flex-column">
            <img class="iconeEmpresaMenu" src="{% static 'icons/logo-laranja.png'%}" alt=""/>
            <b>Portal Operacional</b><br/>
            <span style="font-size: 0.8rem;margin-left: 0px;padding-left: 2.8rem;">
              <b>Usuário - </b>{{obj_usuario_sessao.login_usu}}  <b>Perfil - </b>
                {% if obj_usuario_sessao.perfil_usu == 'A' %}
                  Adm
                {% else %}
                  Usuário
                {% endif %}
                (
                {% if obj_usuario_sessao.corporativo == 'S' %}
                  Corporativo
                {% endif %}
                )<br/>
              <b style="margin-left: 2.8rem;">Filial - </b>{{obj_usuario_sessao.cod_filial.desc_filial}}  <br/>
              <b style="margin-left: 2.8rem;">Empresa - </b>{{obj_usuario_sessao.cod_filial.cod_empresa.desc_empresa}}
            </span>
          </div>
          <!--
          <div class="d-flex flex-column" style="width: 100%; heigth: 100%;" >
            <div class="loader" id="loader_menu" style="width: 100%; heigth: 100%;">
              <div class="loader-inner">
                  <div class="loader-block"></div>
                  <div class="loader-block"></div>
                  <div class="loader-block"></div>
                  <div class="loader-block"></div>
                  <div class="loader-block"></div>
                  <div class="loader-block"></div>
                  <div class="loader-block"></div>
                  <div class="loader-block"></div>
              </div>
          </div>
          </div>
    -->
        </div>
        <form action="{% url 'logout' %}" method="GET" id="frm_logout">
          {% csrf_token %}
          <button type="submit" class="btn btn-rounded btn-space"
                  style="margin-top: 4.5rem;" title="Fazer Logout">
            <i class="fa-solid fa-right-from-bracket" style="color: #f46424;"></i>
          </button>

        </form>


      </div>




      <!--
      <hr class="hrMenu">
    -->

      <div class="offcanvas-body" style="padding-top: 5px;padding-bottom: 5px;">
        
        <div class="accordion" id="accordionExample">

          {% for menu in menu_usuario %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading{{ menu.cod_menu.cod_menu }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ menu.cod_menu.cod_menu }}" aria-expanded="false" aria-controls="collapse{{ menu.cod_menu.cod_menu }}">
                  <i class="iconeMenu {{ menu.cod_menu.nome_icone }}" alt="{{ menu.cod_menu.desc_menu }}"
                     style="color: #f46424;"></i>
                  {{ menu.cod_menu.desc_menu }}
                </button>
              </h2>
              <div id="collapse{{ menu.cod_menu.cod_menu }}" class="accordion-collapse collapse" aria-labelledby="heading{{ menu.cod_menu.cod_menu }}" data-bs-parent="#accordionExample">
                <div class="accordion-body d-flex flex-column" style="padding-left: 3.75rem;">

                  {% for sub_menu in sub_menu_usuario %}
                    {% if sub_menu.cod_menu.pai_menu == menu.cod_menu.cod_menu %}
                      <a class="d-flex align-items-center justify-content-start linkSubMenu" href="#" name="a_sub_menu"
                         id="a_sub_menu_{{ sub_menu.cod_menu.cod_menu }}"
                         style="padding-top: 0.5rem;padding-bottom: 0.5rem;">

                        <i class="iconeSubMenu {{ sub_menu.cod_menu.nome_icone }}" alt="{{ sub_menu.cod_menu.desc_menu }}" style="color: #f46424;"></i>
                        <p class="submenu_titulo">{{ sub_menu.cod_menu.desc_menu }}</p>
                        <input type="hidden" id="hd_url_sub_menu_{{ sub_menu.cod_menu.cod_menu }}" value="{{ sub_menu.cod_menu.url_menu }}">
                        {% comment %} <img class="iconeSubMenu" src="{% static 'icons/seta_cinza.png'%}" alt="submenu"/>Frota 1 {% endcomment %}
                      </a>
                    {% endif %}
                  {% endfor %}
                  
                </div>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

{% include 'contabil_composicao_app/modais_form_docs_m1.html' %}

  <main class="d-flex align-items-center justify-content-center text-white text-center conteudoPrincipal" id="main_menu">
    <h1>Por favor, selecione a aplicação desejada no menu ao lado.</h1>
  </main>

{% endblock %}

{% block link_js %}
  <script defer  src="{% static 'libs/bootstrap_select_1_14_0/js/bootstrap-select.js' %}"></script>
  <!-- Bibliotecas Table-->
  <script defer src="{% static 'libs/jquery_3_6_0/js/dataTables.min.js' %}"></script>
  <script defer src="{% static 'libs/jquery_3_6_0/js/dataTables.buttons.min.js' %}"></script>
  <script defer src="{% static 'libs/jquery_3_6_0/js/jszip.min.js' %}"></script>
  <script defer src="{% static 'libs/jquery_3_6_0/js/vfs_fonts.js' %}"></script>
  <script defer src="{% static 'libs/jquery_3_6_0/js/buttons.html5.min.js' %}"></script>



  <!-- Bootstrap select picker --->
  {% comment %}
    <script src="{% static 'libs/bootstrap_select_1_13_14/dist/js/i18n/defaults-*.js' %}"></script>
  {% endcomment %}

{% endblock %}

{% block base_controllers_apps_js %}
  <script src="{% static 'controllers/perfil-dropdown.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/menu_app/main_menu_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/contabil_composicao_app/form_imp_arq_pac_m1_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/contabil_composicao_app/form_cad_contas_controller.js' %}"
          type="text/javascript">
  </script>

<!--
  <script src="{% static 'controllers/contabil_composicao_app/form_imp_arq_m1_controller.js' %}"
          type="text/javascript">
  </script>
  -->

  <script src="{% static 'controllers/contabil_operacoes_farol_ndd_app/form_notas_tratadas_controller.js' %}"
          type="text/javascript">
  </script>


  <script src="{% static 'controllers/plan_controle_fat_2art_terc_app/form_relatorio_pagamento_terceiros_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/suprimentos_evolucao_precos_app/form_gera_evolucao_precos_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/suprimentos_justifica_precos_diesel_app/form_justifica_preco_diesel_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/suprimentos_evolucao_precos_app/dash_evolucao_precos_controller.js' %}"
        type="text/javascript">
  </script>

  <script defer src="{% static 'controllers/plan_controle_folha_pag_analitico_app/form_libera_periodo_fecha_folha_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/plan_controle_folha_pag_analitico_app/form_rel_folha_pagamento_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/plan_controle_folha_pag_analitico_app/form_libera_projetos_usuario_folha_pag_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/plan_controle_provisoes_folha_app/form_rel_provisoes_senior_controller.js' %}"
          type="text/javascript">
  </script>


  <script src="{% static 'controllers/ti_tma_app/form_gera_tma_ti_controller.js' %}" type="text/javascript">

  </script>

  <script src="{% static 'controllers/safety_layout_checklist_app/frm_cad_check_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/safety_gab_op_emp_app/frm_gab_op_emp_app.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/safety_relatos_app/frm_relatos_app.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/safety_checks_aplicados_app/frm_checks_aplicados_app.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/frota_importa_2art_app/form_importa_2art_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/plan_controle_fat_2art_terc_app/form_cad_frete_spot_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/plan_controle_fat_2art_terc_app/form_cad_placa_terceiros_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/plan_controle_fat_2art_terc_app/form_importa_arquivo_fat_terc_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/frota_disponibilidade_app/form_importa_plan_promax_apontamento_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/frota_disponibilidade_app/form_lanc_frota_contratada_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/frota_disponibilidade_empilhadeira_app/form_gera_disp_empilhadeira_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/frota_vpo_app/form_vincula_roteiros_pecas_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/suprimentos_rel_filial_comprador_app/form_cad_rel_filial_comprador_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/suprimentos_tma_app/form_requisicoes_gera_tma_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/usuario_app/form_libera_modulos_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/usuario_app/form_libera_projetos_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/contabil_composicao_app/form_vincula_resp_contas_controller.js' %}"
          type="text/javascript">
  </script>

  <script src="{% static 'controllers/plan_controle_fat_2art_terc_app/form_gerar_pag_2art_terc_controller.js' %}"
        type="text/javascript">
  </script>

  <script src="{% static 'controllers/cco_sinistro_app/form_cco_cad_sinistros_controller.js' %}"
          type="text/javascript"></script>


<script src="{% static 'controllers/cco_multas_app/cad_multas_controller.js' %}"
          type="text/javascript"></script>



<script src="{% static 'controllers/frota_vendas_veic_app/frm_vendas_veic.js' %}"
          type="text/javascript"></script>




{% endblock %}